{% load i18n %}
{% load product_tags %}

{% with products_sliced=products|slice:":6" %}
    {% if products_sliced %}
        <div class="sub-header">
            <h2>{% trans 'Products you recently viewed' %}</h2>
        </div>

        <div class="build_items">
            {% for product in products %}
                <div class="build_item">
                    {% render_product product %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
