{% extends "layout_1_col.html" %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load promotion_tags %}
{#start github#}
{% block title %}Сборка компьютера на заказ. Онлайн-сборка компьютера. Купить компьютер в Киеве и Украине.{% endblock %}
{% block description %}
    Интернет-магазин Собери Сам! Купить компьютер, комплектующие,
    а также предлагаем конфигуратор пк онлайн - сборка компьютера полностью или
    системного блока онлайн в Киеве с доставкой по Украине
{% endblock %}
{% block keywords %}
    конфигуратор пк, купить компьютер в киеве,купить компьютер в украине,продажа компьютеров,
    продажа компьютерной техники, сборка компьютеров, купить компьютер, интернет магазин компьютеров,
    компьютер, компьютер,собрать компьютер, собрать пк, сборка пк
{% endblock %}

{% block navigation %}
    {% include "partials/nav_primary.html" with expand_dropdown=1 %}
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1>Сборка компьютера онлайн</h1>
        <!-- <p>Мы собираем компьютеры любой сложности: от самых простых, доступных каждому до всехсовременных, которые удовлетворят даже самого требовательного клиента.</p> -->
        <!-- <p>Подобрать компьютер у нас очень просто. Даже если Вы не разбираетесь в компьютерах мы Вам поможем - просто позвоните нам и наши специалисты подберут оптимальную модель.</p> -->
        <p>Собрать компьютер очень просто. Следуйте инструкциям конфигуратора и за несколько шагов вы получите именно то
            чего хотите.</p>
        <!-- <p>Либо Вы можете выбрать уже готовые модели представленные у нас на сайте. Они поделены на категории и Вы сможете быстро найти оптимальный для Вас вариант.</p> -->
        <p>
            <a class="btn btn-lg btn-primary" href="{% url 'build:socket' %}" role="button">Собрать компьютер онлайн</a>
            <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#callback">Заказать подбор ПК
            </button>
            <a class="btn btn-lg btn-primary" href="{% url 'computer:all:type2' category_slug='user_builds' %}"
               role="button">Сборки пользователей</a>
        </p>
    </div>

    <div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document" style="z-index: 1111;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Заказать подбор ПК</h4>
                </div>
                <form action="{% url 'callback:request' %}" method="post" id="callback_form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Ваш номер телефона:</label>
                            <input type="tel" class="form-control" id="{{ callback_form.phone_number.id_for_label }}"
                                   name="{{ callback_form.phone_number.html_name }}" required
                                   placeholder="+38(0XX)1234567, 0XX 123 45 67, (0XX) 123 45 67, 0XX-123-45-67"
                                   pattern="(\+?3?8)?[\- ]?(\(?0\d{2,4}\)?[\- ]?[\d\- ]{5,11})"
                                   title="+38(0XX)1234567, 0XX 123 45 67, (0XX) 123 45 67, 0XX-123-45-67">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Дополнительная информация
                                (опционально):</label>
                            <textarea class="form-control" id="{{ callback_form.notes.id_for_label }}"
                                      name="{{ callback_form.notes.html_name }}"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
                        <button type="submit" class="btn btn-primary">{% trans "Send message" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock jumbotron %}
{% block computer_build %}
    <h2>Собрано компьютеров</h2>
    <div class="row">
        <div class="col-md-3 col-xs-6 build-count-size">
            <a href="{% url 'computer:all:filter_day' year=year month=month day=today category_slug='user_builds' %}"
               class="btn btn-info btn-lg btn-block build-count">Сегодня <span
                    class="badge pull-right">{{ today_count }}</span></a>
        </div>
        <div class="col-md-3 col-xs-6 build-count-size">
            {% if month_yesterday %}
                {% if year_yesterday %}
                    <a href="{% url 'computer:all:filter_day' year=year_yesterday month=month_yesterday day=yesterday category_slug='user_builds' %}"
                       class="btn btn-info btn-lg btn-block build-count">Вчера <span
                            class="badge pull-right">{{ yesterday_count }}</span></a>
                {% else %}
                    <a href="{% url 'computer:all:filter_day' year=year month=month_yesterday day=yesterday category_slug='user_builds' %}"
                       class="btn btn-info btn-lg btn-block build-count">Вчера <span
                            class="badge pull-right">{{ yesterday_count }}</span></a>
                {% endif %}
            {% else %}
                <a href="{% url 'computer:all:filter_day' year=year month=month day=yesterday category_slug='user_builds' %}"
                   class="btn btn-info btn-lg btn-block build-count">Вчера <span
                        class="badge pull-right">{{ yesterday_count }}</span></a>
            {% endif %}
        </div>
        <div class="col-md-3 col-xs-6 build-count-size">
            <a href="{% url 'computer:all:filter_month' year=year month=month category_slug='user_builds' %}"
               class="btn btn-info btn-lg btn-block build-count">За месяц <span
                    class="badge pull-right">{{ month_count }}</span></a>
        </div>
        <div class="col-md-3 col-xs-6 build-count-size">
            <a href="{% url 'computer:all:type2' category_slug='user_builds' %}"
               class="btn btn-info btn-lg btn-block build-count">Всего <span
                    class="badge pull-right">{{ total_count }}</span></a>
        </div>
    </div>
{% endblock computer_build %}
{% block solarwinds %}
    <h2>Сборки Solarwind</h2>
    <p>Выберите наши модели Solarwind и будьте уверены в качестве.</p>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="{% url 'computer:all:type2' category_slug=solarwind_gamer.slug %}" class="thumbnail">
{#                <img src="{{ solarwind_gamer.image.url }}" alt="{{ solarwind_gamer.name }}">#}
                {% with image=solarwind_gamer.primary_image %}
                    {% thumbnail image "x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}"
                             alt="{{ solarwind_gamer.name|capfirst }}">
                    {% endthumbnail %}
                {% endwith %}
                <p class="h4" style="text-align:center">{{ solarwind_gamer.name|capfirst }}</p>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="{% url 'computer:all:type2' category_slug=solarwind_extreme.slug %}" class="thumbnail">
                {% with image=solarwind_extreme.primary_image %}
                    {% thumbnail image "x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}"
                             alt="{{ solarwind_extreme.name|capfirst }}">
                    {% endthumbnail %}
                {% endwith %}
                <p class="h4" style="text-align:center">{{ solarwind_extreme.name|capfirst }}</p>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="{% url 'computer:all:type2' category_slug=solarwind_office.slug %}" class="thumbnail">
                {% with image=solarwind_office.primary_image %}
                    {% thumbnail image "x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}"
                             alt="{{ solarwind_office.name|capfirst }}">
                    {% endthumbnail %}
                {% endwith %}
                <p class="h4" style="text-align:center">{{ solarwind_office.name|capfirst }}</p>
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3">
            <a href="{% url 'computer:all:type2' category_slug=solarwind_nettop.slug %}" class="thumbnail">
                {% with image=solarwind_nettop.primary_image %}
                    {% thumbnail image "x400" upscale=False as thumb %}
                        <img src="{{ thumb.url }}"
                             alt="{{ solarwind_nettop.name|capfirst }}">
                    {% endthumbnail %}
                {% endwith %}
                <p class="h4" style="text-align:center">{{ solarwind_nettop.name|capfirst }}</p>
            </a>
        </div>
    </div>
{% endblock solarwinds %}
{% block promo %}
    <div class="row">
        <div class="col-sm-12">
            {% for promotion in promotions_page %}
                {% render_promotion promotion %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block registration %}
    {% if not user.is_authenticated %}
        <div class="jumbotron registration">
            <h2 class="h1">Зарегистрируйтесь</h2>

            <p>Регистрация позволит вам сохранять свои сборки и иметь к ним доступ в любое время без необходимости
                поиска среди сборок других пользователей.</p>

            <form id="register_form" action="{% url 'customer:register' %}" method="post">
                <div class="row registration-body">
                    {% csrf_token %}
                    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                        <input id="id_email" name="email" type="email" class="form-control" placeholder="Введите email">
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 col-sm-6 col-md-4 col-md-offset-2">
                        <input id="id_password1" name="password1" type="password" class="form-control"
                               placeholder="Введите пароль"></div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <input id="id_password2" name="password2" type="password" class="form-control"
                               placeholder="Еще раз пароль"></div>
                    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <button name="registration_submit" type="submit" value="Register"
                                class="btn btn-primary btn-lg btn-block"
                                data-loading-text="{% trans 'Registering...' %}">
                            {#                        Зарегистрироваться                       #}
                            {% trans 'Register' %}</button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock registration %}
