{% extends "layout.html" %}
{% load i18n %}

{% block content_wrapper %}
    <div class="container-fluid page">
        <div class="vin_code__block card-style">
            <h1 style="text-align: center">Запрос принят в обработку <br />
                <small>
                    <a href="/" style="text-decoration: underline">Вернуться на главную страницу</a>
                </small>
            </h1>
        </div>
    </div>
{% endblock %}
