{% extends "layout.html" %}
{% load i18n %}

{% block select_car %}{% endblock %}

{% block breadcrumbz %}{% endblock %}

{% block content_wrapper %}
    <div class="container-fluid page">
        <div class="vin_code__block card-style">
            <h1 style="text-align: center">VIN ЗАПРОС</h1>
            <form action="{% url 'car:vin' %}" method="post" id="new_vin_code" class="form form-horizontal" style="width:90%;">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=form style='horizontal' %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-lg btn-primary"
                                data-loading-text="{% trans 'Continuing...' %}">{% trans "Continue" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

