{% load i18n %}
    <div class="row registration">
        <div class="col-sm-6 login_form">
            <form id="login_form" action="{% url 'computer:pre_save_login' %}" method="post" >
                <h2>{% trans 'Log In' %}</h2>
                {% csrf_token %}
                <div class="row registration-body">
                    {% with login_form as form %}
                        {% if form.is_bound and not form.is_valid %}
                            <div class="alert alert-error col-md-8 col-md-offset-2">
                                <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-error control-group error col-md-8 col-md-offset-2">
                                    <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
{#                    {% csrf_token %}#}
                        <div class="col-md-8 col-md-offset-2">
                            {% for error in form.username.errors %}
                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                            <input id="id_login-username" name="login-username" type="email" class="form-control" placeholder="Введите email"></div>
                        <div class="col-md-8 col-md-offset-2">
                            {% for error in form.password.errors %}
                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                            <input id="id_login-password" name="login-password" type="password" class="form-control" placeholder="Введите пароль"></div>
                        <input type="hidden" name="login_submit" value="Login" />
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button name="login_submit" type="submit" value="Login" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Logging in...' %}">
                                {% trans 'Log in' %}</button></div>
                        <div class="clearfix"></div>
                        <p><a href="{% url 'password-reset' %}">{% trans "I've forgotten my password" %}</a></p>
                    {% endwith %}
                </div>
            </form>
        </div>
        <div class="col-sm-6 register_form">
            <form id="register_form" action="{% url 'computer:pre_save_login' %}" method="post">
                <h2>{% trans 'Register' %}</h2>
                {% csrf_token %}
                <div class="row registration-body">
                    {% with registration_form as form %}
                        {% if form.is_bound and not form.is_valid %}
                            <div class="alert alert-error col-md-8 col-md-offset-2">
                                <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
                            </div>
                        {% endif %}

                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-error control-group error col-md-8 col-md-offset-2">
                                    <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-8 col-md-offset-2">
                            {% for error in form.email.errors %}
                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                            <input id="id_registration-email" name="registration-email" type="email" class="form-control" placeholder="Введите email"></div>
                        <div class="col-md-8 col-md-offset-2">
                            {% for error in form.password1.errors %}
                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                            <input id="id_registration-password1" name="registration-password1" type="password" class="form-control" placeholder="Введите пароль"></div>
                        <div class="col-md-8 col-md-offset-2">
                            {% for error in form.password2.errors %}
                                <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                            {% endfor %}
                            <input id="id_registration-password2" name="registration-password2" type="password" class="form-control" placeholder="Еще раз пароль"></div>
                        <input type="hidden" name="registration_submit" value="Login" />
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                            <button name="registration_submit" type="submit" value="Register" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Registering...' %}">
                                {% trans 'Register' %}</button></div>
                    {% endwith %}
                </div>
            </form>
        </div>
    </div>

