{% load thumbnail %}
{% load staticfiles %}

<div class="row">
    <div class="col-sm-2">
        <div class="image_container">
            {% with image=product.primary_image %}
                {% thumbnail image.original "x155" upscale=False as thumb %}
                    <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                {% endthumbnail %}
            {% endwith %}
        </div>
    </div>
    <div class="col-sm-10 reviewz">
        <h2><a href="{{ product.get_absolute_url }}">{{ product.get_title }}</a></h2>
        {% include "catalogue/partials/stock_record.html" %}
        {% include "build/reviews/partials/review_stars.html" %}
    </div>
</div>

<hr>
