{% extends "base.html" %}
{% load currency_filters %}
{% load promotion_tags %}
{% load i18n %}
{% load cache %}

{% block layout %}
    {# Top-horizontal bar with account, notifictions, dashboard links #}
    {# {% include "partials/nav_accounts.html" %} #}

    {# Site logo/title, mini-basket, browse dropdown and searchbox #}
    <header id="header" class="container">
        {% include "partials/brand.html" %}
        <div class="custom_header1">
            <!-- <h3>Получите консультацию:</h3> -->
            <a class="tel hidden-sm hidden-xs" href="tel:0443620372">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                <span class="sr-only">Телефон:</span>

                <h3>(044) 362-03-72</h3>
            </a>
            <a class="tel hidden-xs" href="tel:0981588886">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                <span class="sr-only">Телефон:</span>

                <h3>(098) 158-88-86</h3>
            </a>
        </div>
        {% block header_menu %}
            <div class="header_menu gradient3">
                <a href="{% url 'customer:login' %}" class="header_user">
                    <!-- <i class="fa fa-user"></i> -->
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
                <a class="header_cart" href="{% url 'basket:summary' %}">
                    <div class="header_menu_figure gradient3"></div>
                    <!-- <i class="fa fa-shopping-cart"></i> -->
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    {#                <b>Корзина:</b>#}

				<span class="money cart-total-price" data-currency-usd="$0.00">
                    {% cache 3600 basket_total request.basket_hash %}
                        {% blocktrans with total=request.basket.total_incl_tax|currency:request.basket.currency %}
                            <b>Basket: {{ total }}</b>
                        {% endblocktrans %}
                    {% endcache %}
                </span>
                </a>
            </div>
        {% endblock %}
    </header>

    {# Main content of page - other layout templates may override this block #}
    <div class="container">
        {% block navigation %}
            {% include "partials/nav_primary.html" %}
        {% endblock %}
        {% block content_wrapper %}
            <div class="row">
                <div class="col-lg-12">
                    {% block breadcrumbs %}{% endblock %}
                    {% block header %}
                        <div class="page-header action">
                            <h1>{% block headertext %}{% endblock %}</h1>
                        </div>
                    {% endblock %}
                    {% include "partials/alert_messages.html" %}
                    {% block subnavigation %}{% endblock %}
                    <div class="content">
                        {% block subheader %}{% endblock subheader %}

                        {# Render promotions #}
                        <div id="promotions">
                            {% for promotion in promotions_page %}
                                {% render_promotion promotion %}
                            {% endfor %}
                        </div>

                        {# Div exists for AJAX updates to entire content section #}
                        <div id="content_inner">{% block content %}{% endblock %}</div>
                    </div>
                </div>
            </div>

        {% endblock %}
    </div>

    {% include "partials/footer.html" %}
{% endblock %}

{% block extrascripts %}
    {% include "partials/extrascripts.html" %}
    {{ block.super }}
    <!– BEGIN JIVOSITE CODE {literal} –>
    <script type='text/javascript'>
        (function () {
            var widget_id = 'ityBF6uKfj';
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//code.jivosite.com/script/widget/' + widget_id;
            var ss = document.getElementsByTagName('script')[0];
            ss.parentNode.insertBefore(s, ss);
        })();</script>
    <!– {/literal} END JIVOSITE CODE –>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-15135282-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!– Yandex.Metrika counter –>
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter22636405 = new Ya.Metrika({
                        id: 22636405,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true,
                        trackHash: true
                    });
                } catch (e) {
                }
            });

            var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <!– /Yandex.Metrika counter –>

{% endblock %}
