{% extends "layout.html" %}

{% block navigation %}
    {% include "partials/nav_build_primary.html" %}
{% endblock %}

{% block content_wrapper %}

    <div class="content">

        {% block content_main %}
            <div class="build">
                <div class="build_menu">
                    {% block build_menu %}
                    {% endblock %}
                </div>

                <div class="build_main">
                    {% block headertext %}{% endblock %}
                    {% block alert_build %}
                    {% include "partials/alert_messages.html" %}
                    {% endblock %}
                    <article class="content-body">
                        {% block content_build %}
                        {% endblock %}
                    </article>
                </div>
            </div>
        {% endblock content_main %}
    </div>

{% endblock content_wrapper %}
