{% extends "layout.html" %}
{% load promotion_tags %}

{% comment %}
Keep the same header and footer as the standard layout template but override the 
main content area to split it into a sidebar and a content block
{% endcomment %}
{% block content_wrapper %}

    <div class="main">
        <aside class="sidebar">
            <div id="promotions_left">
                {% for promotion in promotions_left %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>
            {% block column_left %}{% endblock %}
        </aside>
        <div class="content">
            {% block header %}
                <div class="page-header action">
                    <h1>{% block headertext %}{% endblock %}</h1>
                </div>
            {% endblock %}

            {% include "partials/alert_messages.html" %}

            <div id="promotions">
                {% for promotion in promotions_page %}
                    {% render_promotion promotion %}
                {% endfor %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>

{% endblock %}
