{% extends "layout.html" %}
{% load promotion_tags %}

{% block content_wrapper %}

    <div class="content">

        {% block content_main %}
            <div class="computer_block">
                <div class="computer_menu">
                    {% block computer_menu %}
                        {% block column_left %}
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Solarwind</h3>
                                </div>
                                <div class="list-group">
                                    {% for category_item in categories_menu %}
                                        <a href="{% url 'computer:all:type2' category_slug=category_item.slug %}"
                                           class="list-group-item{% if category_item == category %} active{% endif %}">
                                            {{ category_item.name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Сборки пользователей</h3>
                                </div>
                                <div class="list-group">
                                    {% url 'computer:all:filter_day' year=year month=month day=today category_slug='user_builds' as today_user_builds %}
                                {% if month_yesterday %}
                                    {% if year_yesterday %}
                                        {% url 'computer:all:filter_day' year=year_yesterday month=month_yesterday day=yesterday category_slug='user_builds' as yesterday_user_builds %}
                                    {% else %}
                                        {% url 'computer:all:filter_day' year=year month=month_yesterday day=yesterday category_slug='user_builds' as yesterday_user_builds %}
                                    {% endif %}
                                {% else %}
                                    {% url 'computer:all:filter_day' year=year month=month day=yesterday category_slug='user_builds' as yesterday_user_builds %}
                                {% endif %}
                                    {% url 'computer:all:filter_month' year=year month=month category_slug='user_builds' as month_user_builds %}
                                    {% url 'computer:all:type2' category_slug='user_builds' as user_builds %}
                                    <a href="{{ today_user_builds }}"
                                       class="list-group-item{% if today_user_builds == url_path %} active{% endif %}">Сегодня</a>
                                    <a href="{{ yesterday_user_builds }}"
                                       class="list-group-item{% if yesterday_user_builds == url_path %} active{% endif %}">Вчера</a>
                                    <a href="{{ month_user_builds }}"
                                       class="list-group-item{% if month_user_builds == url_path %} active{% endif %}">За этот месяц</a>
                                    <a href="{{ user_builds }}"
                                       class="list-group-item{% if user_builds == url_path %} active{% endif %}">Все сборки</a>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Мои сборки</h3>
                                    </div>
                                    <div class="list-group">
                                        {% url 'computer:my:filter_day' year=year month=month day=today as today_my_builds %}
                                        {% if month_yesterday %}
                                            {% if year_yesterday %}
                                                {% url 'computer:my:filter_day' year=year_yesterday month=month_yesterday day=yesterday as yesterday_my_builds %}
                                            {% else %}
                                                {% url 'computer:my:filter_day' year=year month=month_yesterday day=yesterday as yesterday_my_builds %}
                                            {% endif %}
                                        {% else %}
                                            {% url 'computer:my:filter_day' year=year month=month day=yesterday as yesterday_my_builds %}
                                        {% endif %}
                                        {% url 'computer:my:filter_month' year=year month=month as month_my_builds %}
                                        {% url 'computer:my:type2' as my_builds %}
                                        <a href="{{ today_my_builds }}"
                                           class="list-group-item{% if today_my_builds == url_path %} active{% endif %}">Сегодня</a>
                                        <a href="{{ yesterday_my_builds }}"
                                           class="list-group-item{% if yesterday_my_builds == url_path %} active{% endif %}">Вчера</a>
                                        <a href="{{ month_my_builds }}"
                                           class="list-group-item{% if month_my_builds == url_path %} active{% endif %}">За этот месяц</a>
                                        <a href="{{ my_builds }}"
                                           class="list-group-item{% if my_builds == url_path %} active{% endif %}">Все сборки</a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% block build_facets %}{% endblock %}
                    {% endblock %}
                </div>

                <div class="computer_main">

                    {% block headertext %}{% endblock headertext %}
                    {% include "partials/alert_messages.html" %}

                    <article class="content-body">
                        {% block content_computer %}{% endblock content_computer %}
                    </article>
                </div>
            </div>
        {% endblock content_main %}
    </div>

{% endblock %}
