{% extends "layout_comp.html" %}

{% load currency_filters %}
{% load thumbnail %}
{% load computer_tags %}
{% load i18n %}

{% block title %}
    "{{ query }}" | {{ block.super }}
{% endblock %}

{% block computer_menu %}
    {% block column_left %}
        {% if has_facets %}
            <h4>{% trans "Refine your search" %}</h4>
            <dl>
                {% for field, data in facet_data.items %}
                    {% if data.results %}
                        {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                    {% endif %}
                {% endfor %}
            </dl>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block headertext %}
    <h3 class="h1">
        {% blocktrans with q=query %}
            Products matching "{{ q }}"
        {% endblocktrans %}
    </h3>
{% endblock %}

{% block content_computer %}
    <form method="get" action="." class="form-inline">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}"/>
            {% endfor %}
            {{ search_form.q }}
        </div>
        {% if paginator.count %}
            <div class="sorted-block">
                <div class="num_el">
                    {% if paginator.num_pages > 1 %}
                        {% blocktrans with start=page.start_index end=page.end_index num_results=paginator.count %}
                            Found <strong>{{ num_results }}</strong> results, showing <strong>{{ start }}</strong> to
                            <strong>{{ end }}</strong>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans count num_results=paginator.count %}
                            Found <strong>{{ num_results }}</strong> result.
                        {% plural %}
                            Found <strong>{{ num_results }}</strong> results.
                        {% endblocktrans %}
                    {% endif %}
                </div>
                <div class="sorted">
                    {% with field=search_form.sort_by %}
                        <label for="{{ field.auto_id }}"
                               class="control-label{% if field.field.required %} required{% endif %}">
                            {{ field.label|safe }}
                            {% if field.field.required %} <span>*</span>{% endif %}
                        </label>
                        {{ field }}
                    {% endwith %}
                    {#                    <div class="pull-right">#}
                    {#                        {% include "partials/form_field.html" with field=search_form.sort_by %}#}
                    {#                    </div>#}
                </div>
            </div>
        {% else %}
            <p>
                {% trans "Found <strong>0</strong> results." %}
                {% if suggestion %}
                    {% url 'search:search' as search_url %}
                    {% blocktrans %}
                        Did you mean <a href="{{ search_url }}?q={{ suggestion }}">"{{ suggestion }}"</a>?
                    {% endblocktrans %}
                {% endif %}
            </p>
        {% endif %}
    </form>

    {% if page.object_list %}
        <section>
            <div>
                <div class="build_items">
                    {% for result in page.object_list %}
                        <div class="build_item">
                            {% render_computer_or_product result.object %}
                        </div>
                    {% endfor %}
                </div>
                {% include "partials/pagination.html" with page_obj=page %}
            </div>
        </section>
    {% endif %}

{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
