{% extends "customer/baseaccountpage.html" %}
{% load currency_filters %}
{% load display_tags %}
{% load i18n %}
{% load reviews_tags %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:order-list' %}">{% trans 'Order history' %}</a>
    </li>
{% endblock %}

{% block tabcontent %}
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{% trans 'Product' %}</th>
            <th>{% trans 'Dispatch date' %}</th>
            <th>{% trans 'Qty' %}</th>
            <th>{% trans 'Line price excl. tax' %}</th>
            <th>{% trans 'Line price incl. tax' %}</th>
{#            <th></th>#}
        </tr>
        </thead>
        <tbody>
        {% for computer_line in order.computer_lines.all %}
            {% with computer=computer_line.computer %}
                <tr>
                    <td>
                        {% if computer %}
                            <p>
                                <a href="{{ computer.get_absolute_url }}">{{ computer_line.description }}</a>
                            </p>
                            {% iffeature "reviews" %}
                                {% if computer|is_review_permitted:user %}
{#                                    <a class="btn btn-default" href="{% url 'computer:reviews-add' computer_slug=computer.slug computer_pk=computer.id %}#addreview">{% trans 'Write a review' %}</a>#}
                                {% endif %}
                            {% endiffeature %}
                        {% else %}
                            <p>
                                {{ computer_line.description }}
                            </p>
                        {% endif %}
                    </td>
                    <td>{{ computer_line.est_dispatch_date|default:"-" }}</td>
                    <td>{{ computer_line.quantity }}</td>
                    <td>{{ computer_line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                    <td>{{ computer_line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>

                    {# TODO later, apps/customer/views/OrderDetailView.do_reorder() #}
                    {% comment %}
                    <td width="90">
                        {% if computer %}
                            <form id="line_form_{{ computer_line.id }}" action="{% url 'customer:order-line' order_number=order.number line_id=computer_line.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="reorder" />
                                <button id="reorder_line_{{ computer_line.id }}" class="btn btn-success" type="submit" data-loading-text="{% trans 'Re-ordering...' %}">{% trans 'Re-order' %}</button>
                            </form>
                        {% else %}
                            {% trans 'Not available anymore' %}
                        {% endif %}
                    </td>
                    {% endcomment %}
                </tr>
            {% endwith %}
        {% endfor %}
        {% for line in order.lines.all %}
            {% with product=line.product %}
                <tr>
                    <td>
                        {% if product %}
                            <p>
                                <a href="{{ product.get_absolute_url }}">{{ line.description }}</a>
                            </p>
                            {% iffeature "reviews" %}
                                {% if product|is_review_permitted:user %}
                                    <a class="btn btn-default" href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview">{% trans 'Write a review' %}</a>
                                {% endif %}
                            {% endiffeature %}
                        {% else %}
                            <p>
                                {{ line.description }}
                            </p>
                        {% endif %}
                    </td>
                    <td>{{ line.est_dispatch_date|default:"-" }}</td>
                    <td>{{ line.quantity }}</td>
                    <td>{{ line.line_price_before_discounts_excl_tax|currency:order.currency }}</td>
                    <td>{{ line.line_price_before_discounts_incl_tax|currency:order.currency }}</td>
                    <td width="90">
                        {% if product %}
                            <form id="line_form_{{ line.id }}" action="{% url 'customer:order-line' order_number=order.number line_id=line.id %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="reorder" />
                                <button id="reorder_line_{{ line.id }}" class="btn btn-success" type="submit" data-loading-text="{% trans 'Re-ordering...' %}">{% trans 'Re-order' %}</button>
                            </form>
                        {% else %}
                            {% trans 'Not available anymore' %}
                        {% endif %}
                    </td>
                </tr>
            {% endwith %}
        {% endfor %}

        {% with discounts=order.basket_discounts %}
            {% block discount_totals %}
                {% if discounts %}
                    <tr>
                        <td colspan="4">{% trans "Basket total (excl. discounts)" %}</td>
                        <td colspan="2">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                    </tr>
                    {% for discount in discounts %}
                        <tr>
                            <td colspan="4">
                                <span class="label label-success">{% trans "Discount" %}</span>
                                {{ discount.offer_name }}
                            </td>
                            <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endblock discount_totals %}

            {% block basket_total %}
                {% if discounts %}
                    <tr>
                        <th colspan="4">{% trans "Basket total (inc. discounts)" %}</th>
                        <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <th colspan="4">{% trans "Basket total" %}</th>
                        <td colspan="2">{{ order.basket_total_incl_tax|currency:order.currency }}</td>
                    </tr>
                {% endif %}
            {% endblock basket_total %}
        {% endwith %}

        {% block shipping_totals %}
            {% if order.has_shipping_discounts %}
                <tr>
                    <td colspan="4">{% trans "Shipping total (excl. discounts)" %}</td>
                    <td colspan="2">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                </tr>
                {% for discount in order.shipping_discounts %}
                    <tr>
                        <td colspan="4">
                            <span class="label label-success">{% trans "Discount" %}</span>
                            {{ discount.offer_name }}
                        </td>
                        <td colspan="2">- {{ discount.amount|currency:order.currency }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th colspan="4">{% trans "Shipping total (inc. discounts)" %}</th>
                    <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                </tr>
            {% else %}
                <tr>
                    <th colspan="4">{% trans "Shipping total" %}</th>
                    <td colspan="2">{{ order.shipping_incl_tax|currency:order.currency }}</td>
                </tr>
            {% endif %}
        {% endblock %}

        {% block order_total %}
            <tr>
                <th colspan="4">{% trans 'Order total' %}</th>
                <td colspan="2">{{ order.total_incl_tax|currency:order.currency }}</td>
            </tr>
        {% endblock order_total %}
        </tbody>
    </table>

    {# TODO later, apps/customer/views/OrderDetailView.do_reorder() #}
    {% comment %}
    {% block order_actions %}
        <form id="order_form_{{ order.id }}" action="{% url 'customer:order' order_number=order.number %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="order_id" value="{{ order.id }}" />
            <input type="hidden" name="action" value="reorder" />
            <button type="submit" class="btn btn-success" data-loading-text="{% trans 'Re-ordering...' %}">{% trans 'Re-order all items' %}</button>
        </form>
    {% endblock order_actions %}
    {% endcomment %}

    <hr>

    <h2>{% trans 'Shipping Method' %}</h2>
    <p>{{ order.shipping_method }}</p>

    <hr>

    <h2>{% trans 'Shipping Address' %}</h2>

    <table class="table table-striped table-bordered">
        <tr>
            <th>{% trans 'Address' %}</th>
            <th>{% trans 'Contact Number' %}</th>
            <th>{% trans 'Shipping Notes' %}</th>
        </tr>
        <tr>
            <td>
                {% for field in order.shipping_address.active_address_fields %}
                    {{ field }}<br/>
                {% endfor %}
            </td>
            <td>{{ order.shipping_address.phone_number|default:"-" }}</td>
            <td>{{ order.shipping_address.notes|linebreaks }}</td>
        </tr>
    </table>
{% endblock tabcontent %}
