{% extends "layout_build.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="active">{{ summary }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block build_menu %}
    {% if category.get_parent %}
        {% category_tree 2 as tree_categories %}
    {% else %}
        {% category_tree 2 as tree_categories %}
    {% endif %}
    {% for tree_category, info in tree_categories %}
        {% if info.has_children %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ tree_category.name }}</h3>
                </div>
            <div class="list-group">
        {% else %}
            <a href="{{ tree_category.get_absolute_url }}"
               class="list-group-item{% if tree_category.pk == category.pk %} active{% endif %}">
                {{ tree_category.name }}</a>
            {% for n in info.num_to_close %}
                </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% block category_facets %}
                {% for field, data in facet_data.items %}
                    {% if data.results %}
                        {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block content_build %}

    <form method="get" class="form-inline">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}"/>
            {% endfor %}
            {{ form.q }}
        </div>

        {% if paginator.count %}
            <div class="sorted-block">
                <div class="num_el">
                    {% if paginator.num_pages > 1 %}
                        {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                            <strong>{{ num_results }}</strong> result - showing <strong>{{ start }}</strong> to
                            <strong>{{ end }}</strong>.
                        {% plural %}
                            <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to
                            <strong>{{ end }}</strong>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans count num_results=paginator.count %}
                            <strong>{{ num_results }}</strong> result.
                        {% plural %}
                            <strong>{{ num_results }}</strong> results.
                        {% endblocktrans %}
                    {% endif %}
                </div>
                <div class="sorted">
                    {% if form %}
                        {% with field=form.sort_by %}
                            <label for="{{ field.auto_id }}"
                                   class="control-label{% if field.field.required %} required{% endif %}">
                                {{ field.label|safe }}
                                {% if field.field.required %} <span>*</span>{% endif %}
                            </label>
                            {{ field }}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>

    {% if products %}
        <div class="build_items">
            {% for product in products %}
                <div class="build_item">
                    {% render_product product %}
                </div>
            {% endfor %}
        </div>
        {% include "partials/pagination.html" %}
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock content_build %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
