{% extends "layout_build.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% load category_tags %}

{% block title %}
    {{ product.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ product.description|default:""|striptags }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        {% with category=product.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            <li class="active">{{ product.title }}</li>

            {% get_back_button as backbutton %}
            {% if backbutton %}
                <li class="pull-right">
                    <a href="{{ backbutton.url }}">
                        <i class="icon-arrow-left"></i> {{ backbutton.title }}
                    </a>
                </li>
            {% endif %}
        {% endwith %}
    </ul>
{% endblock %}

{% block navigation %}
    {% include "partials/nav_primary.html" %}
{% endblock %}

{% block headertext %}
    {% if user.is_authenticated and user.is_staff %}
        <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
            <small><i class="icon-edit"></i> {% trans "Edit this product" %}</small>
        </a>
    {% endif %}
    <h1 class="h3">{{ product.get_title }}</h1>
{% endblock headertext %}

{% block headertext_xs %}
    <h1 class="h3 visible-xs-block">
        {% if user.is_authenticated and user.is_staff %}
            <a class="pull-right hidden-xs" href="{% url 'dashboard:catalogue-product' pk=product.id %}">
                <small><i class="icon-edit"></i> {% trans "Edit this product" %}</small>
            </a>
        {% endif %}
        {{ product.get_title }}</h1>
{% endblock %}

{% block build_menu %}
    {% if category.get_parent %}
        {% category_tree 3 as tree_categories %}
    {% else %}
        {% category_tree 3 as tree_categories %}
    {% endif %}
    {% for tree_category, info in tree_categories %}
        {% if info.has_children %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ tree_category.name }}</h3>
                </div>
                <div class="list-group">
                    {% else %}
                    <a href="{{ tree_category.get_absolute_url }}"
                       class="list-group-item{% if tree_category.pk == category.pk %} active{% endif %}">
                        {{ tree_category.name }}</a>
                    {% for n in info.num_to_close %}
                        </div>
                        </div>
                    {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}

{% block content_build %}

    <div class="build_detail row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6">
                    {% include "build/partials/gallery.html" %}
                </div>
                <div class="col-sm-6">
                    {% purchase_info_for_product request product as session %}
                    {% if session.price.exists %}
                        <p class="detail-price">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                    {% endif %}
                    {% block product_basket_form %}
                        {% include "catalogue/partials/add_to_basket_form.html" %}
                    {% endblock %}
                    {% if product|is_review_permitted:user %}
                        <a id="write_review"
                           href="{% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id %}#addreview"
                           class="btn btn-info btn-lg btn-block">
                            {% trans "Write a review" %}
                        </a>
                    {% endif %}

                    {% iffeature "reviews" %}
                        {% include "build/reviews/partials/review_stars.html" %}
                    {% endiffeature %}

                </div>
            </div>
        </div>
        {% block product_description %}
            <div class="col-lg-12">
                {% if product.description %}
                    <h3>{% trans "Description" %}</h3>
                    <p>{{ product.description|safe|default:"" }}</p>
                {% endif %}
            </div>
        {% endblock %}
        <div class="col-lg-12">
            {% block product_info %}
                <h3>{% trans "Product Information" %}</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        {% if product.upc %}
                            <tr>
                                <th>{% trans "Code" %}</th>
                                <td>{{ product.upc }}</td>
                            </tr>
                        {% endif %}
                        {% if product.attr.vendor %}
                            <tr>
                                <th>{% trans "Vendor" %}</th>
                                <td>{{ product.attr.vendor }}</td>
                            </tr>
                        {% endif %}
                        {% for av in product.attribute_values.all %}
                            {% if av.attribute.code == 'model' or av.attribute.code == 'options' %}
                            {% elif av.attribute.code == 'article' or av.attribute.code == 'vendor' %}
                            {% else %}
                                <tr>
                                    <th>{{ av.attribute.name }}</th>
                                    <td>{{ av.value_as_html }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% iffeature "reviews" %}
                            <tr>
                                <th>{% trans "Number of reviews" %}</th>
                                <td>{{ product.num_approved_reviews }}</td>
                            </tr>
                        {% endiffeature %}
                    </table>
                </div>
            {% endblock product_info %}

            {% iffeature "reviews" %}
                {% block product_review %}
                    <section>
                        <div id="reviews" class="sub-header">
                            {% if product.num_approved_reviews > 3 %}
                                <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}"
                                   class="btn pull-right">{% trans "See all reviews" %}</a>
                            {% endif %}
                            <h3>{% trans "Customer Reviews" %}</h3>
                        </div>

                        {% if product.num_approved_reviews == 0 %}
                            <p>
                                {% if product|is_review_permitted:user %}
                                    {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                                    {% blocktrans %}This product does not have any reviews yet -
                                        <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                    {% endblocktrans %}
                                {% else %}
                                    {% trans "This product does not have any reviews yet" %}.
                                {% endif %}
                            </p>
                        {% else %}
                            <ol class="list-unstyled review-list">
                                {% for review in reviews|slice:":3" %}
                                    <li>
                                        {% include 'catalogue/partials/review.html' %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </section>
                {% endblock product_review %}
            {% endiffeature %}

        </div>

    </div> <!-- /.build-item -->
{% endblock content_build %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
