{% load i18n %}

<div class="navibar">
    {% if step == 1 or step == 4 %}
        <a href="{% url 'checkout:shipping-method' %}" class="step1 {% if step == 2 %}active{% else %}{% if step == 1 %}previous{% else %}{% if step == 1 or step == 4 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}">
            <span>
                {% trans "1. Shipping method" %}
            </span>
        </a>
    {% else %}
        <span class="step1 {% if step == 2 %}active{% else %}{% if step == 1 %}previous{% else %}{% if step == 1 or step == 4 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}">
            {%  trans "1. Shipping method" %}
        </span>
    {% endif %}

    {% if step == 4 %}
        <a href="{% url 'checkout:shipping-address' %}" class="step2 {% if step == 1 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step == 4 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}">
            <span>
                {% trans "2. Shipping address" %}
            </span>
        </a>
    {% else %}
        <span class="step2 {% if step == 1 %}active{% else %}{% if step == 4 %}previous{% else %}{% if step == 4 %}visited{% else %}disabled{% endif %}{% endif %}{% endif %}">
            {%  trans "2. Shipping address" %}
        </span>
    {% endif %}

    <span class="step3 {% if step == 4 %}active{% else %}disabled{% endif %}">
        {% trans "3. Confirmation" %}
    </span>
</div>
