{% extends "checkout/layout.html" %}
{% load currency_filters %}
{% load thumbnail %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %} | {{ block.super }}
{% endblock title %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=5 %}
{% endblock %}

{% block checkout_title %}
    {% blocktrans with number=order.number %}
        Order {{ number }}: confirmation
    {% endblocktrans %}
{% endblock %}

{% block content %}
    <p class="lead">
        {% blocktrans with number=order.number %}
        Your order has been placed and a confirmation email has been sent - your order number is
        <strong>{{ number }}</strong>.
        {% endblocktrans %}
        {% trans "Please make a note of this reference or print this page and quote it in any communication with us regarding your order." %}</p>
    </p>

    <div class="row shipping-payment">
        <div class="col-sm-6">
            {% block shipping_info %}
                <div class="sub-header">
                    <h2>{% trans "Shipping" %}</h2>
                </div>
                <div class="well well-info">
                    <h3>{% trans "Address" %}</h3>
                    {% if order.shipping_address %}
                        <address>
                            {% for field in order.shipping_address.active_address_fields %}
                                {{ field }}<br/>
                            {% endfor %}
                        </address>

                        {% if order.shipping_address.phone_number %}
                            <h4>{% trans "Contact" %}</h4>
                            <p>
                                {% trans "Phone" %}: {{ order.shipping_address.phone_number }}
                                {% if order.guest_email %}
                                    <br/>{% trans "Email" %}: {{ order.guest_email }}
                                {% endif %}
                            </p>
                        {% endif %}

                        {% if order.shipping_address.notes %}
                            <h4>{% trans "Instructions" %}</h4>
                            <p>{{ order.shipping_address.notes|linebreaks }}</p>
                        {% endif %}
                    {% else %}
                        <p>{% trans "No shipping address required." %}</p>
                    {% endif %}
                </div>

                <div class="well well-info">
                    <h3>{% trans "Shipping method" %}</h3>
                    <p>{{ order.shipping_method }}</p>
                </div>
            {% endblock %}
        </div>

        <div class="col-sm-6">

            {% block basket_totals %}
                <div class="sub-header">
                    <h2>{% trans 'Totals' %}</h2>
                </div>

                <div id="basket_totals" class="well well-info">
                    <table class="table table-condensed">
                        <tr>
                            <th style="border-top:none;" colspan="2"><h3>{% trans "Basket" %}</h3></th>
                        </tr>
                        {% with discounts=order.basket_discounts %}
                            {% block discount_totals %}
                                {% if discounts %}
                                    <tr>
                                        <td>{% trans "Basket total (before discounts)" %}</td>
                                        <td class="align-right">{{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}</td>
                                    </tr>
                                    {% for discount in discounts %}
                                        <tr>
                                            <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                            <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endblock discount_totals %}

                            {% block basket_total %}
                                {% if discounts %}
                                    <tr>
                                        <th class="total">{% trans "Basket total (after discounts)" %}</th>
                                        <th class="total align-right">{{ order.basket_total_incl_tax|currency:order.currency }}</th>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <th class="total">{% trans "Basket total" %}</th>
                                        <th class="total align-right">
                                            {% if show_tax_separately %}
                                                {{ order.basket_total_excl_tax|currency:order.currency }}
                                            {% else %}
                                                {{ order.basket_total_incl_tax|currency:order.currency }}
                                            {% endif %}
                                        </th>
                                    </tr>
                                {% endif %}
                            {% endblock basket_total %}
                        {% endwith %}

                        {% block shipping_total %}
                            <tr>
                                <th colspan="2"><h3>{% trans "Shipping" %}</h3></th>
                            </tr>
                            <tr>
                                <td><strong>{% trans "Shipping method" %}</strong></td>
                                <td class="align-right"><strong>{{ order.shipping_method }}</strong></td>
                            </tr>
                            {% if order.has_shipping_discounts %}
                                <tr>
                                    <td>{% trans "Shipping charge (before discounts)" %}</td>
                                    <td class="align-right">{{ order.shipping_before_discounts_incl_tax|currency:order.currency }}</td>
                                </tr>
                                {% for discount in order.shipping_discounts %}
                                    <tr>
                                        <td><span class="label label-success">{% trans "Discount" %}</span> {{ discount.offer }}</td>
                                        <td class="align-right">- {{ discount.amount|currency:order.currency }}</td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <th class="total">{% trans "Shipping charge (after discounts)" %}</th>
                                    <th class="total align-right">{{ order.shipping_incl_tax|currency:order.currency }}</th>
                                </tr>
                            {% else %}
                                <tr>
                                    <th class="total">{% trans "Shipping charge" %}</th>
                                    <th class="total align-right">
                                        {% if show_tax_separately %}
                                            {{ order.shipping_excl_tax|currency:order.currency }}
                                        {% else %}
                                            {{ order.shipping_incl_tax|currency:order.currency }}
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endif %}
                        {% endblock shipping_total %}

                        {% if show_tax_separately %}
                            <tr>
                                <th colspan="2">&nbsp;</th>
                            </tr>
                            <tr>
                                <th class="total">{% trans "Order tax" %}</th>
                                <th class="total align-right">
                                    {{ order.total_tax|currency:order.currency }}
                                </th>
                            </tr>
                        {% endif %}

                        {% block post_order_action_totals %}
                            {% with actions=order.post_order_actions %}
                                {% if actions %}
                                    <tr>
                                        <th colspan="2">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th colspan="2"><h3>{% trans "Post order actions" %}</h3></th>
                                    </tr>
                                    {% for action in order.post_order_actions %}
                                        <tr>
                                            <td class="total" colspan="2"><p>{{ action.message }}</p></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        {% endblock post_order_action_totals %}

                        {% block order_total %}
                            <tr>
                                <td class="total"><h3>{% trans "Order total" %}</h3></td>
                                <td class="total align-right"><h3 class="price_color">{{ order.total_incl_tax|currency:order.currency }}</h3></td>
                            </tr>
                        {% endblock order_total %}
                    </table>
                </div>
            {% endblock basket_totals %}

        </div>
    </div>

    <div class="sub-header">
        <h2>{% trans "Order contents" %}</h2>
    </div>

    <div class="basket-title">
            <p class="title-title h4">{% trans "Items purchased" %}</p>
            <p class="title-qty h4 align-center">{% trans "Quantity" %}</p>
            <p class="title-price h4 align-right">{% trans "Total" %}</p>
    </div>

    {% for line in order.lines.all %}
        <div class="basket-items">
            <div class="item-img">
                {% with image=line.product.primary_image %}
                    {% thumbnail image.original "x70" upscale=False as thumb %}
                        <a href="{{ line.product.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"></a>
                    {% endthumbnail %}
                {% endwith %}
            </div>
            <div class="item-title">
                <h3><a href="{{ line.product.get_absolute_url }}">{{ line.description }}</a></h3>
                <p>
                    {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                    {% if line.est_dispatch_date %}
                        {% blocktrans with date=line.est_dispatch_date %}
                            Estimated dispatch: <strong>{{ date }}</strong>
                        {% endblocktrans %}
                    {% endif %}
                </p>
            </div>
            <div class="item-qty align-center">
                {{ line.quantity }}
            </div>
            <div class="item-price align-right">
                <p class="price_color1">
                    {% if show_tax_separately %}
                        {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                    {% else %}
                        {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                    {% endif %}
                </p>
            </div>
        </div>
    {% endfor %}
    {% for line in order.computer_lines.all %}
        <div class="basket-items">
                <div class="item-img">
                    {% with image=line.computer.primary_image %}
                        {% thumbnail image.original "x70" upscale=False as thumb %}
                            <a href="{{ line.computer.get_absolute_url }}"><img class="thumbnail" src="{{ thumb.url }}" alt="{{ computer.get_title }}"></a>
                        {% endthumbnail %}
                    {% endwith %}
                </div>
                <div class="item-title">
                    <h3><a href="{{ line.computer.get_absolute_url }}">{{ line.description }}</a></h3>
                    <p>
                    {% if line.upc %}{{ line.upc }}<br/>{% endif %}
                    {% if line.est_dispatch_date %}
                        {% blocktrans with date=line.est_dispatch_date %}
                            Estimated dispatch: <strong>{{ date }}</strong>
                        {% endblocktrans %}
                    {% endif %}
                    </p>
                </div>
                <div class="item-qty align-center">
                    {{ line.quantity }}
                </div>
                <div class="item-price align-right">
                    <p class="price_color1">
                        {% if show_tax_separately %}
                            {{ line.line_price_before_discounts_excl_tax|currency:order.currency }}
                        {% else %}
                            {{ line.line_price_before_discounts_incl_tax|currency:order.currency }}
                        {% endif %}
                    </p>
                </div>
        </div>
    {% endfor %}

    {% block order_tracking %}
        {% if not order.user %}
            <div class="sub-header">
                <h2>{% trans "Tracking your order" %}</h2>
            </div>
            <p>{% trans "You can track the status of your order" %}</p>
            <a class="btn btn-primary" href="{% url 'customer:anon-order' order_number=order.number hash=order.verification_hash %}">{% trans "View order status" %}</a>.
        {% endif %}
    {% endblock %}


    {% block order_actions %}
        <div class="form-group" style="margin-top:20px;">
            <div class="row">
                <div class="col-sm-4">
                    <p><a onclick="window.print()" href="#" class="btn btn-primary btn-block btn-lg">{% trans "Print this page" %}</a></p>
                </div>
                <div class="col-sm-4 col-sm-offset-4">
                    <p><a href="{{ homepage_url }}" class="btn btn-primary btn-block btn-lg">{% trans "Continue shopping" %}</a></p>
                </div>
            </div>
        </div>
    {% endblock order_actions %}
{% endblock content %}

{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
{% endblock %}
