{% extends "layout_comp.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{#{% load category_tags %}#}
{% load computer_tags %}
{% load i18n %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}<h1>{{ summary }}</h1>{% endblock %}

{% block build_facets %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% with facet_data.freq_range as data %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.socket as data %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.core as data %}
                {% if data.results %}
                    {% include 'build/hardware/cpu/facet_core.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.volume_ram as data %}
                {% if data.results %}
                    {% include 'build/hardware/ram/facet_volume.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.has_video_card as data %}
                {% if data.results %}
                    {% include 'computer/partials/facet_has_video.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.volume_hdd as data %}
                {% if data.results %}
                    {% include 'build/hardware/hdd/facet_volume.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.volume_ssd_range as data %}
                {% if data.results %}
                    {% include 'build/hardware/ssd/facet_volume.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.has_odd as data %}
                {% if data.results %}
                    {% include 'computer/partials/facet_has_odd.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.type_case as data %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.class_case as data %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
            {% with facet_data.computer_psu_range as data %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endwith %}
        </div>
    {% endif %}
{% endblock %}

{% block content_computer %}

    <form method="get" class="form-inline">
        {# Render other search params in a hidden block #}
        <div style="display:none">
            {% for value in selected_facets %}
                <input name="selected_facets" value="{{ value }}"/>
            {% endfor %}
            {{ form.q }}
        </div>

        {% if paginator.count %}
            <div class="sorted-block">
                <div class="num_el">
                    {% if paginator.num_pages > 1 %}
                        {% blocktrans with start=page_obj.start_index end=page_obj.end_index num_results=paginator.count %}
                            <strong>{{ num_results }}</strong> results - showing <strong>{{ start }}</strong> to
                            <strong>{{ end }}</strong>.
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans count num_results=paginator.count %}
                            <strong>1</strong> result.
                        {% plural %}
                            <strong>{{ num_results }}</strong> results.
                        {% endblocktrans %}
                    {% endif %}
                </div>
                <div class="sorted">
                    {% if form %}
                        {% with field=form.sort_by %}
                            <label for="{{ field.auto_id }}"
                                   class="control-label{% if field.field.required %} required{% endif %}">
                                {{ field.label|safe }}
                                {% if field.field.required %} <span>*</span>{% endif %}
                            </label>
                            {{ field }}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p>
                {% trans "<strong>0</strong> results." %}
            </p>
        {% endif %}
    </form>

    {% if computers %}
        <div class="build_items">
            {% for computer in computers %}
                <div class="build_item" {% if user.is_authenticated and computer.owner == user %}style="background-color:yellowgreen"{% endif %}>
                    {#                    <div class="thumbnail">#}
                    {% render_computer computer %}
                    {#                    </div>#}
                </div>
            {% endfor %}

        </div>
        {% include "partials/pagination.html" %}
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock content_computer %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
