{% extends "computer/browse.html" %}

{% load i18n %}

{% block title %}
    {% if category.slug == 'user_builds' %}
        Готовые сборки компьютеров - Собери сам! Интернет магазин компьютерной техники
    {% else %}
        {{ category.name }} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block description %}
    {% if category.slug == 'user_builds' %}
        Купить готовый компьютер онлайн, собранные компьютеры  в интернет-магазине «Собери сам!»
    {% else %}
        {{ category.description|default:""|striptags }}
    {% endif %}
{% endblock %}

{% block headertext %}{{ category.name }}{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        {% for category in category.get_ancestors %}
            <li>
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                <span class="divider">/</span>
            </li>
        {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ul>
{% endblock breadcrumbs %}

{% block content %}
    {% if category.description %}
        <div class="row-fluid">
            <div class="col-sm-9"><p>{{ category.description|safe }}</p></div>
            {% if category.image %}
                <div class="col-sm-3"><img src="{{ category.image.url }}" alt="{{ category.name }}"/></div>
            {% endif %}
        </div>
    {% endif %}
    {{ block.super }}
{% endblock %}
