{% extends "layout_comp.html" %}

{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load computer_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% block title %}
    {{ computer.title }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ computer.description|default:""|striptags }}
{% endblock %}

{% block headertext %}<h1>{{ computer.get_title }}</h1>{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        {% with category=computer.categories.all.0 %}
            {% for c in category.get_ancestors_and_self %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    <span class="divider">/</span>
                </li>
            {% endfor %}
            <li class="active">{{ computer.title }}</li>

            {% get_back_button as backbutton %}
            {% if backbutton %}
                <li class="pull-right">
                    <a href="{{ backbutton.url }}">
                        <i class="icon-arrow-left"></i> {{ backbutton.title }}
                    </a>
                </li>
            {% endif %}
        {% endwith %}
    </ul>
{% endblock %}

{% block header %}
{% endblock header %}

{% block content_computer %}

    <div class="build-item row">
{#        <div class="col-lg-12">#}
{#            {% include "partials/alert_messages.html" %}#}
{#        </div>#}
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-6">
                    {% include "computer/partials/gallery.html" %}
                </div>
                <div class="col-sm-6">
                    {% purchase_info_for_computer request computer as session %}
                    {% if session.price.exists %}
                        <p class="detail-price">{{ session.price.excl_tax|currency:session.price.currency }}</p>
                    {% endif %}

                    {% block computer_basket_form %}
                        {% include "computer/partials/add_to_basket_form.html" %}
                    {% endblock %}
                    {% if computer|is_review_permitted:user %}
                        <a id="write_review"
                           href="{% url 'computer:reviews-add' computer_slug=computer.slug computer_pk=computer.id %}#addreview"
                           class="btn btn-info btn-lg btn-block">
                            {% trans "Write a review" %}
                        </a>
                    {% endif %}

                    {% iffeature "reviews" %}
                        {% include "computer/reviews/partials/review_stars.html" %}
                    {% endiffeature %}

                </div>
            </div>
        </div>
        {% block computer_description %}
            <div class="col-lg-12">
                {% if computer.description %}
                    <h3>{% trans "Description" %}</h3>
                    <p>{{ computer.description|safe|default:"" }}</p>
                {% endif %}
            </div>
        {% endblock %}
        <div class="col-lg-12">
            {% block computer_info %}
                <h3>{% trans "Computer Information" %}</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        {% if computer.upc %}
                            <tr>
                                <th>{% trans "UPC" %}</th>
                                <td>{{ computer.upc }}</td>
                            </tr>
                        {% endif %}

                        {% purchase_info_for_computer request computer as session %}
                        {% if session.price.exists %}
                            <tr>
                                <th>{% trans "Price" %}</th>
                                <td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
                            </tr>
                        {% endif %}
                        {% if computer.cpu %}
                            {% purchase_info_for_product request computer.cpu as session_cpu %}
                            <tr>
                                <th>Процессор</th>
                                {% with session_cpu.availability.is_available_to_buy as is_available %}
                                    <td{% if not is_available %} class="color-red"{% endif %}>{{ computer.cpu.title }}
                                        {% if session_cpu.price.exists %}
                                            =
                                            <b>{{ session_cpu.price.excl_tax|currency:session_cpu.price.currency }}</b>
                                        {% endif %}
                                        {% if not is_available %}
                                            <i> - Нет в наличии</i>
                                        {% endif %}
                                    </td>
                                {% endwith %}
                            </tr>
                        {% endif %}
                        {% if computer.cooler %}
                            {% purchase_info_for_product request computer.cooler as session_cooler %}
                            <tr>
                                <th>Кулер</th>
                                {% with session_cooler.availability.is_available_to_buy as is_available %}
                                    <td{% if not is_available %}
                                        class="color-red"{% endif %}>{{ computer.cooler.title }}
                                        {% if session_cooler.price.exists %}
                                            =
                                            <b>{{ session_cooler.price.excl_tax|currency:session_cooler.price.currency }}</b>
                                        {% endif %}
                                        {% if not is_available %}
                                            <i> - Нет в наличии</i>
                                        {% endif %}

                                    </td>
                                {% endwith %}
                            </tr>
                        {% endif %}
                        {% if computer.motherboard %}
                            {% purchase_info_for_product request computer.motherboard as session_motherboard %}
                            <tr>
                                <th>Материнская плата</th>
                                {% with session_motherboard.availability.is_available_to_buy as is_available %}
                                    <td{% if not is_available %}
                                        class="color-red"{% endif %}>{{ computer.motherboard.title }}
                                        {% if session_motherboard.price.exists %}
                                            =
                                            <b>{{ session_motherboard.price.excl_tax|currency:session_motherboard.price.currency }}</b>
                                        {% endif %}
                                        {% if not is_available %}
                                            <i> - Нет в наличии</i>
                                        {% endif %}

                                    </td>
                                {% endwith %}
                            </tr>
                        {% endif %}
                        {% if computer.rams %}
                            {% for computerram in computer.rams %}
                                {% purchase_info_for_product request computerram.ram as session_ram %}
                                <tr>
                                    <th>Оперативная память</th>
                                    {% with session_ram.availability.is_available_to_buy as is_available %}
                                        <td{% if not is_available %}
                                            class="color-red"{% endif %}>{{ computerram.count }}
                                            x {{ computerram.ram.title }}
                                            {% if session_ram.price.exists %}
                                                =
                                                <b>{{ session_ram.price.excl_tax|currency:session_ram.price.currency }}</b>
                                            {% endif %}
                                            {% if not is_available %}
                                                <i> - Нет в наличии</i>
                                            {% endif %}

                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if computer.video_cards %}
                            {% for computervideo in computer.video_cards %}
                                {% purchase_info_for_product request computervideo.video_card as session_video_card %}
                                <tr>
                                    <th>Видеокарта</th>
                                    {% with session_video_card.availability.is_available_to_buy as is_available %}
                                        <td{% if not is_available %}
                                            class="color-red"{% endif %}>{{ computervideo.count }}
                                            x {{ computervideo.video_card.title }}
                                            {% if session_video_card.price.exists %}
                                                =
                                                <b>{{ session_video_card.price.excl_tax|currency:session_video_card.price.currency }}</b>
                                            {% endif %}
                                            {% if not is_available %}
                                                <i> - Нет в наличии</i>
                                            {% endif %}

                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if computer.hdds %}
                            {% for computerhdd in computer.hdds %}
                                {% purchase_info_for_product request computerhdd.hdd as session_hdd %}
                                <tr>
                                    <th>Жесткий диск</th>
                                    {% with session_hdd.availability.is_available_to_buy as is_available %}
                                        <td{% if not is_available %}
                                            class="color-red"{% endif %}>{{ computerhdd.count }}
                                            x {{ computerhdd.hdd.title }}
                                            {% if session_hdd.price.exists %}
                                                =
                                                <b>{{ session_hdd.price.excl_tax|currency:session_hdd.price.currency }}</b>
                                            {% endif %}
                                            {% if not is_available %}
                                                <i> - Нет в наличии</i>
                                            {% endif %}

                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if computer.ssds %}
                            {% for computerssd in computer.ssds %}
                                {% purchase_info_for_product request computerssd.ssd as session_ssd %}
                                <tr>
                                    <th>SSD диск</th>
                                    {% with session_ssd.availability.is_available_to_buy as is_available %}
                                        <td{% if not is_available %}
                                            class="color-red"{% endif %}>{{ computerssd.count }}
                                            x {{ computerssd.ssd.title }}
                                            {% if session_ssd.price.exists %}
                                                =
                                                <b>{{ session_ssd.price.excl_tax|currency:session_ssd.price.currency }}</b>
                                            {% endif %}
                                            {% if not is_available %}
                                                <i> - Нет в наличии</i>
                                            {% endif %}

                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if computer.odds %}
                            {% for computerodd in computer.odds %}
                                {% purchase_info_for_product request computerodd.odd as session_odd %}
                                <tr>
                                    <th>Оптический привод</th>
                                    {% with session_odd.availability.is_available_to_buy as is_available %}
                                        <td{% if not is_available %}
                                            class="color-red"{% endif %}>{{ computerodd.count }}
                                            x {{ computerodd.odd.title }}
                                            {% if session_odd.price.exists %}
                                                =
                                                <b>{{ session_odd.price.excl_tax|currency:session_odd.price.currency }}</b>
                                            {% endif %}
                                            {% if not is_available %}
                                                <i> - Нет в наличии</i>
                                            {% endif %}

                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if computer.case %}
                            {% purchase_info_for_product request computer.case as session_case %}
                            <tr>
                                <th>Корпус</th>
                                {% with session_case.availability.is_available_to_buy as is_available %}
                                    <td{% if not is_available %} class="color-red"{% endif %}>{{ computer.case.title }}
                                        {% if session_case.price.exists %}
                                            =
                                            <b>{{ session_case.price.excl_tax|currency:session_case.price.currency }}</b>
                                        {% endif %}
                                        {% if not is_available %}
                                            <i> - Нет в наличии</i>
                                        {% endif %}

                                    </td>
                                {% endwith %}
                            </tr>
                        {% endif %}
                        {% if computer.psus %}
                            {% for computerpsu in computer.psus %}
                                {% purchase_info_for_product request computerpsu.psu as session_psu %}
                                <tr>
                                    <th>Блок питания</th>
                                    {% with session_psu.availability.is_available_to_buy as is_available %}
                                        <td{% if not is_available %}
                                            class="color-red"{% endif %}>{{ computerpsu.count }}
                                            x {{ computerpsu.psu.title }}
                                            {% if session_psu.price.exists %}
                                                =
                                                <b>{{ session_psu.price.excl_tax|currency:session_psu.price.currency }}</b>
                                            {% endif %}
                                            {% if not is_available %}
                                                <i> - Нет в наличии</i>
                                            {% endif %}

                                        </td>
                                    {% endwith %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <th>Сборка</th>
                            <td>Сборка и тестирование ПК = <b>400 грн.</b>
                            </td>
                        </tr>
                        {% for av in computer.attribute_values.all %}
                            <tr>
                                <th>{{ av.attribute.name }}</th>
                                <td>{{ av.value_as_html }}</td>
                            </tr>
                        {% endfor %}
                        {% iffeature "reviews" %}
                            <tr>
                                <th>{% trans "Number of reviews" %}</th>
                                <td>{{ computer.num_approved_reviews }}</td>
                            </tr>
                        {% endiffeature %}
                    </table>
                </div>
            {% endblock computer_info %}

            {% iffeature "reviews" %}
                {% block product_review %}
                    <section>
                        <div id="reviews" class="sub-header">
                            {% if computer.num_approved_reviews > 3 %}
                                <a href="{% url 'computer:reviews-list' computer_slug=computer.slug computer_pk=computer.id %}"
                                   class="btn pull-right">{% trans "See all reviews" %}</a>
                            {% endif %}
                            <h2>{% trans "Customer Reviews" %}</h2>
                        </div>

                        {% if computer.num_approved_reviews == 0 %}
                            <p>
                                {% if computer|is_review_permitted:user %}
                                    {% url 'computer:reviews-add' computer_slug=computer.slug computer_pk=computer.id as add_review_url %}
                                    {% blocktrans %}This product does not have any reviews yet -
                                        <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                                    {% endblocktrans %}
                                {% else %}
                                    {% trans "This product does not have any reviews yet" %}.
                                {% endif %}
                            </p>
                        {% else %}
                            <ol class="list-unstyled review-list">
                                {% for review in reviews|slice:":3" %}
                                    <li>
                                        {% include 'computer/partials/review.html' %}
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </section>
                {% endblock product_review %}
            {% endiffeature %}
        </div>
    </div>
{% endblock content_computer %}

{% block extrascripts %}
    {{ block.super }}
{% endblock %}
