{% extends "layout_build.html" %}
{% load i18n %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load thumbnail %}
{% load static %}

{% block headertext %}
    <h1 class="h2">
        {#        {% trans "Edit build " %}#}
        {{ computer.get_title }}</h1>
{% endblock %}
{% block headertext_xs %}
    <h1 class="h2 visible-xs-block">
        {#        {% trans "Edit build " %}#}
        {{ computer.get_title }}</h1>{% endblock %}

{% block title %}
    {{ computer.title }} | {{ block.super }}
{% endblock %}

{% block build_menu %}
    {% include "build/partials/menu.html" %}
{% endblock build_menu %}

{% block alert_build %}
{% endblock %}

{% block content_build %}
    <form action="" method="post" id="save_build">
        <input id="action" type="hidden" name="action" value="save"/>
        {% csrf_token %}
        {{ ram_formset.management_form }}
        {{ hdd_formset.management_form }}
        {{ ssd_formset.management_form }}
        {{ video_card_formset.management_form }}
        {{ odd_formset.management_form }}
        {{ psu_formset.management_form }}
        {% if request.user.is_staff %}
            <div class="form-inline">
                <div class="form-group">
                    {{ form.title.label_tag }}
                    <input type="text" class="form-control" id="{{ form.title.id_for_label }}"
                           value="{{ form.title.value }}"
                           placeholder="{{ form.title.label }}" name="{{ form.title.html_name }}">
                </div>
                <div class="form-group">
                    {{ form.slug.label_tag }}
                    <input type="text" class="form-control" id="{{ form.slug.id_for_label }}"
                           value="{{ form.slug.value }}"
                           placeholder="{{ form.slug.label }}" name="{{ form.slug.html_name }}">
                </div>
            </div>
        {% endif %}
        <div class="edit_items">
            <div class="edit_alert">
                {% include "partials/alert_messages.html" %}
            </div>
            {% if computer.cpu %}
                <div class="edit_item">
                    {% with product=computer.cpu %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Процессор: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Процессор ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>1 шт.</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'cpu' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% else %}
                <div class="edit_item">
                    <div class="edit_img-blank">
                        <a href="{% url 'build:category' 'cpu' %}">
                            <img class="thumbnail" src="/media/image_not_found.jpg" alt="no image"/>
                        </a>
                    </div>
                    <div class="edit_title-blank">
                        <p><strong>Процессор: </strong><a href="{% url 'build:category' 'cpu' %}">Еще не
                            выбрано...</a></p>
                    </div>
                </div>
            {% endif %}
            {% if computer.cooler %}
                <div class="edit_item">
                    {% with product=computer.cooler %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Кулер: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Кулер '|cut:'для процессора ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>1 шт.</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'cooler' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endif %}
            {% if computer.motherboard %}
                <div class="edit_item">
                    {% with product=computer.motherboard %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Мат. плата: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Материнская плата ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>1 шт.</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'motherboard' %}"
                                          data-id="{{ product.id }}" data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% else %}
                <div class="edit_item">
                    <div class="edit_img-blank">
                        <a href="{% url 'build:category' 'motherboard' %}">
                            <img class="thumbnail" src="/media/image_not_found.jpg" alt="no image"/>
                        </a>
                    </div>
                    <div class="edit_title-blank">
                        <p><strong>Мат. плата: </strong><a href="{% url 'build:category' 'motherboard' %}">Еще
                            не выбрано...</a></p>
                    </div>
                </div>
            {% endif %}
            {% for form in video_card_formset %}
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
                <div class="edit_item">
                    {% with line=form.instance product=form.instance.video_card %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {{ form.id }}
                                <div style="display:none;">
                                    {{ form.video_card }}
                                </div>
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Видеокарта: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Видеокарта ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>{{ form.count }}</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}-{{ form.prefix }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'videocard' %}"
                                          data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div style="display:none;">
                                {{ form.DELETE }}
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}
            {% if not ram_formset.queryset %}
                <div class="edit_item">
                    <div class="edit_img-blank">
                        <a href="{% url 'build:category' 'ram' %}">
                            <img class="thumbnail" src="/media/image_not_found.jpg" alt="no image"/>
                        </a>
                    </div>
                    <div class="edit_title-blank">
                        <p><strong>ОЗУ: </strong><a href="{% url 'build:category' 'ram' %}">Еще не
                            выбрано...</a></p>
                    </div>
                </div>
            {% endif %}
            {% for form in ram_formset %}
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
                <div class="edit_item">
                    {% with line=form.instance product=form.instance.ram %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {{ form.id }}
                                <div style="display:none;">
                                    {{ form.ram }}
                                </div>
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>ОЗУ: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Модуль памяти ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>{{ form.count }}</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}-{{ form.prefix }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'ram' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div style="display:none;">
                                {{ form.DELETE }}
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}
            {% for form in hdd_formset %}
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
                <div class="edit_item">
                    {% with line=form.instance product=form.instance.hdd %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {{ form.id }}
                                <div style="display:none;">
                                    {{ form.hdd }}
                                </div>
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Жесткий диск: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Жесткий диск ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>{{ form.count }}</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}-{{ form.prefix }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'hdd' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div style="display:none;">
                                {{ form.DELETE }}
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}
            {% for form in ssd_formset %}
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
                <div class="edit_item">
                    {% with line=form.instance product=form.instance.ssd %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {{ form.id }}
                                <div style="display:none;">
                                    {{ form.ssd }}
                                </div>
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>SSD диск: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Накопитель SSD ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>{{ form.count }}</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}-{{ form.prefix }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'ssd' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div style="display:none;">
                                {{ form.DELETE }}
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}
            {% for form in odd_formset %}
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
                <div class="edit_item">
                    {% with line=form.instance product=form.instance.odd %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {{ form.id }}
                                <div style="display:none;">
                                    {{ form.odd }}
                                </div>
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>ODD привод: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Оптический привод ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>1 шт.</p>

                                    <div class="hidden">{{ form.count }}</div>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}-{{ form.prefix }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'dvd' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div style="display:none;">
                                {{ form.DELETE }}
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}
            {% if computer.case %}
                <div class="edit_item">
                    {% with product=computer.case %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Корпус: </strong><a
                                        href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Корпус ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>1 шт.</p>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'case' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% else %}
                <div class="edit_item">
                    <div class="edit_img-blank">
                        <a href="{% url 'build:category' 'case' %}">
                            <img class="thumbnail" src="/media/image_not_found.jpg" alt="no image"/>
                        </a>
                    </div>
                    <div class="edit_title-blank">
                        <p><strong>Корпус: </strong><a href="{% url 'build:category' 'case' %}">Еще не
                            выбрано...</a></p>
                    </div>
                </div>
            {% endif %}
            {% for form in psu_formset %}
                {% for field_errors in form.errors.values %}
                    {% for error in field_errors %}
                        <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                    {% endfor %}
                {% endfor %}
                <div class="edit_item">
                    {% with line=form.instance product=form.instance.psu %}
                        {% purchase_info_for_product request product as session %}
                        {% with session.availability.is_available_to_buy as is_available %}
                            <div class="edit_img">
                                {{ form.id }}
                                <div style="display:none;">
                                    {{ form.psu }}
                                </div>
                                {% with image=product.primary_image %}
                                    {% thumbnail image.original "x100" upscale=False as thumb %}
                                        <a href="{{ product.get_absolute_url }}">
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ product.get_title }}"/>
                                        </a>
                                    {% endthumbnail %}
                                {% endwith %}
                            </div>
                            <div class="edit_title">
                                <p{% if not is_available %} class="color-red"{% endif %}><strong>Блок питания: </strong>
                                    <a href="{{ product.get_absolute_url }}">{{ product.get_title|cut:'Блок питания ' }}</a>
                                    <br>
                                    <small>{% if not is_available %}Нет в наличии{% endif %}</small>
                                </p>
                            </div>
                            <div class="edit_qdp">
                                <div class="edit_qty">
                                    <p>1 шт.</p>

                                    <div class="hidden">{{ form.count }}</div>
                                </div>
                                <div class="edit_del">
                                    <p><a href="#" data-id="{{ product.id }}-{{ form.prefix }}" data-behaviours="remove"
                                          class="inline">{% trans "Remove" %}</a></p>

                                    <p><a href="{% url 'build:category' 'psu' %}" data-id="{{ product.id }}"
                                          data-behaviours="edit"
                                          class="inline">{% trans "Change" %}</a></p>
                                </div>
                                <div class="edit_price">
                                    <p class="price_color align-right">
                                        {% if session.price.exists %}
                                            <b>{{ session.price.excl_tax|currency:session.price.currency }}</b>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                            <div style="display:none;">
                                {{ form.DELETE }}
                            </div>
                        {% endwith %}
                    {% endwith %}
                </div>
            {% endfor %}
            <div class="edit_item">
                <div class="edit_img">
{#                    {% thumbnail "static/soberisam/img/logo.svg" "x100" upscale=False as thumb %}#}
{#                        <img class="thumbnail" src="{{ thumb.url }}" alt="Сборка ПК"/>#}
{#                    {% endthumbnail %}#}
                    <img class="thumbnail" src="{% static "soberisam/img/logo.svg" %}" alt="Сборка ПК"/>
                </div>
                <div class="edit_title">
                    <p><strong>Сборка и тестирование ПК: </strong>
                    </p>
                </div>
                <div class="edit_qdp">
                    <div class="edit_qty">
                    </div>
                    <div class="edit_del">
                    </div>
                    <div class="edit_price">
                        <p class="price_color align-right">
                            <b>400 грн.</b>
                        </p>
                    </div>
                </div>
                <div style="display:none;">
                </div>

            </div>
        </div>
        {% if request.user.is_staff %}
            <div class="row">
                <div class="col-sm-6">
                    {{ form.description.label_tag }}<br>
                <textarea class="form-control" rows="4" id="{{ form.description.id_for_label }}"
                          name="{{ form.description.html_name }}">{{ form.description.value }}</textarea>
                </div>
                <div class="col-sm-6">
                    {{ form.categories.label_tag }}<br>
                    <select multiple class="form-control" id="{{ form.categories.id_for_label }}"
                            name="{{ form.categories.html_name }}">
                        {% for choice in form.categories.field.choices %}
                            <option value="{{ choice.0 }}"
                                    {% if choice.0 in form.initial.categories %}
                                    selected="selected"
                                    {% endif %}
                            >{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12">
                    {{ form.save_as_staff }} {{ form.save_as_staff.label_tag }}
                </div>
            </div>
        {% endif %}
        <div class="build-edit-btn">
            <div class="btn-save"><input class="btn btn-lg btn-block btn-primary" type="submit"
                                         value="{% trans "Save" %}"/></div>
            <div class="btn-dummy"></div>
            <div class="btn-clear"><a id="clear" class="btn btn-lg btn-block btn-danger"
                                      href="#">{% trans "Clear" %}</a></div>
            <div class="btn-buy"><a id="buy" class="btn btn-lg btn-block btn-primary" href="#">{% trans "Buy" %}</a>
            </div>
        </div>
    </form>
    <div id="login_content"></div>
{% endblock content_build %}

{% block onbodyload %}
    {{ block.super }}
    {# We pass in the URL to send AJAX requests to #}
    {% if not user.is_authenticated %}
        oscar.presave_build_login.init();
    {% endif %}
    oscar.edit_build.init();
{% endblock %}
