{% extends "layout_comp.html" %}
{% load i18n %}

{% block title %}
    {% if flatpage.url == '/info/' %}
        Как собрать и купить компьютер - Собери сам! Интернет магазин компьютерной техники.
    {% elif flatpage.url == '/delivery/' %}
        Доставка/установка - Собери сам! Интернет магазин компьютерной техники.
    {% elif flatpage.url == '/warranty/' %}
        Гарантия/сервис - Собери сам! Интернет магазин компьютерной техники.
    {% elif flatpage.url == '/contact/' %}
        Контакты - Собери сам! Интернет магазин компьютерной техники.
    {% else %}
        {{ flatpage.title }} | {{ block.super }}
    {% endif %}
{% endblock %}
{% block description %}
    {% if flatpage.url == '/info/' %}
        Информация для покупки товара. Собери сам! Интернет магазин компьютерной техники.
    {% elif flatpage.url == '/delivery/' %}
        Правила доставки и установки товаров. Доставка по Киеву. Собери сам! Интернет магазин компьютерной техники.
    {% elif flatpage.url == '/warranty/' %}
        Информация о предоставляемой гарантии и услугах сервиса. Собери сам! Интернет магазин компьютерной техники.
    {% elif flatpage.url == '/contact/' %}
        Контактная информация для связи. Собери сам! Интернет магазин компьютерной техники.
    {% else %}
        {{ flatpage.title }} | {{ block.super }}
    {% endif %}
{% endblock %}
{% block keywords %}
    {% if flatpage.url == '/info/' %}
        Как собрать компьютер из комплектующих онлайн
    {% elif flatpage.url == '/delivery/' %}
        Доставка компьютера, установка компьютера
    {% elif flatpage.url == '/warranty/' %}
        гарантия, сервис
    {% elif flatpage.url == '/contact/' %}
        контакты, сборка
    {% else %}
        {{ flatpage.title }} | {{ block.super }}
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        <li class="active">{{ flatpage.title }}</li>
    </ul>
{% endblock %}

{% block content_main %}
    {% block headertext %}
        <div class="page-header action">
            {% if user.is_authenticated and user.is_staff %}
                <a class="pull-right hidden-phone" href="{% url 'dashboard:page-update' pk=flatpage.id %}">
                    <small><i class="icon-edit"></i> {% trans "Edit this page" %}</small>
                </a>
            {% endif %}
            <h1>{{ flatpage.title }}</h1>
        </div>
    {% endblock %}
    {% include "partials/alert_messages.html" %}

    <article>{{ flatpage.content }}</article>
{% endblock %}
