/* Effective stylesheet produced by snapshot save */
html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }
.footer { position: absolute; bottom: 0px; width: 100%; height: 60px; background-color: rgb(245, 245, 245); }
/*body > .container { padding: 60px 15px 0px; }*/
.container .text-muted { margin: 20px 0px; }
.footer > .container { padding-right: 15px; padding-left: 15px; }
/*code { font-size: 80%; }*/
