body {
  padding-top: 0;
}

#header {
  position: relative;
  padding-bottom: 20px;
}

#logo {
  float: left;
  /*padding:44px 0 0;*/
}

#logo > h1 {
  color: #444444;
  font: bold 49px/0.95em 'Open Sans', sans-serif;
  letter-spacing: -2px;
  padding-top: 10px;
  display: inline-block;
}

.trs_hover {
  transition: all 0.5s ease-in-out 0s;
}

#logo:hover span {
  color: $brand-primary;
  text-decoration: none;
}

#logo:hover {
  text-decoration: none;
}

#logo {
  text-decoration: none;
}

#logo > img {
  margin-top: -25px;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 100px;
  max-width: 67px;
}

.gradient3 {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.header_cart {
  color: #FFFFFF !important;
  display: block;
  float: right;
  font: 17px/36px 'Open Sans', sans-serif;
  height: 40px;
  padding: 0 10px 0 0;
}

.header_menu {
  border-image: none;
  border-radius: 0 0 5px;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 10;
}

.header_user {
  color: #FFFFFF !important;
  display: block;
  float: right;
  font-size: 17px;
  height: 40px;
  padding: 6px;
  font-weight: 700;
  text-align: center;
  width: 80px;
}

.header_cart .header_menu_figure {
  border-image: none;
  border-radius: 0 0 0 5px;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  height: 42px;
  left: -15px;
  position: absolute;
  top: -1px;
  transform: skewX(22deg);
  width: 30px;
  z-index: 1;
}

.header_cart span.glyphicon-shopping-cart {
  font-size: 20px;
  line-height: 36px;
  margin: 0 7px 0 0;
}

.header_cart b, .header_cart i, .header_cart span {
  position: relative;
  z-index: 10;
}

.custom_header1 {
  float: right;
  padding: 60px 0 0;
}

.custom_header1 h3 {
  color: $brand-primary;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
}

.custom_header1 h4 {
  color: #3F3E3E;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline;
}

.custom_header1 span.glyphicon {
  color: #3F3E3E;
  font-size: 28px;
  margin: 0 7px 0 0;
  position: relative;
  top: 2px;
  vertical-align: baseline;
}

.tel {
  padding-left: 10px;
}

.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}

.container-fluid {
  padding-left: 0;
}

.navbar-header > .navbar-text {
  font-size: 1.2em;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 15px;
}

.navbar-header > .navbar-text:hover,
.navbar-header > .navbar-text:focus {
  text-decoration: none;
  background-color: #0c6108;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron {
  border-bottom: 1px solid rgb(229, 229, 229);
  text-align: center;
}

.build-count {
  margin-top: 15px;
  padding: 15px;
  text-align: left;
  white-space: normal;
}

.build-count:hover {
  background: #fff;
}

.build-count > .badge {
  font-size: .85em;
  padding: 10px;
  top: -5px;
}

.registration {
  margin-bottom: 100px;
  background-color: inherit;
  border: none;
}

.registration h2,
.registration p {
  text-align: center;
}

.registration h2 {
  /*font-size: 63px;*/
  margin-bottom: 30px;
}

.registration p {
  /*font-size: 21px;*/
}

.registration-body {
  margin: 40px 0;
}

.registration input {
  font-size: 1.2em;
  height: 2.75em;
  margin: 10px 0;
  font-style: italic;
}

.registration .btn {
  margin: 20px 0;
}

ul.footer-links {
  display: block;
  list-style: outside none none;
  float: left;
  margin: 0;
  padding-left: 0;
}

ul.footer-links > li {
  float: left;
  display: block;
  position: relative;
  padding: 20px;
}

.design-by {
  float: right;
  padding: 20px;
}

.copyright {
  float: left;
  padding: 20px;
}

.socket {
  font-size: .9em;
}

.nav-build {
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.nav-build a:first-child {
  background-color: $brand-primary;
}

.nav-build a:first-child:hover {
  background-color: #084305;
  border-color: #084305;
}

.nav-build a:hover {
  text-decoration: none;
}

.nav-build > a,
.nav-build > span {
  flex: 1 100%;
  align-items: center;

  display: flex;

  border: $brand-primary solid 1px;
  border-radius: 4px;
  padding: 5px;
  min-height: 40px;
  height: 52px;
  margin-bottom: 5px;
}

.nav-build a span {
  flex: 1 100%;
}

.nav-build span {
  padding-left: 20px;
  font-weight: bold;
  font-size: 1.2em;
  color: #FFFFFF;
}

.nav-build > span {
  background-color: $brand-primary;
}

.build-icon {
  width: 40px;
  padding: 5px;
  margin-right: 10px;
  float: left;
}

.build-text {
  width: 100%;
  padding: 0;
}

.build-text-label,
.build-text-name {
  font-size: .8em;
  line-height: 20px;
  color: #555;
  padding: 0;
  margin: 0;
}

.build-text-label {
  font-size: 1em;
  color: #000;
}

.test {
  border: $brand-primary solid 1px;
  border-radius: 5px;
  min-height: 300px;
  margin: 10px 0;
}

.my-build {
  margin-top: 20px;
  line-height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: $brand-primary;
  border-color: #0b5a07;
  color: #ffffff;
}

.my-build span.currency {
  font-size: .8em;
}

.my-build p {
  display: inline-block;
  line-height: 40px;
  margin: 0 0 0 15px;
}

button.build-toogle {
  background-color: transparent;
  background-image: none;
  border: 1px solid #0a5307;
  border-radius: 4px;
  float: left;
  font-size: 1.4em;
  line-height: 40px;
}

/*
 * soberisam.com/detail.html 
 */
p.detail-price {
  font-size: 3em;
  font-weight: bold;
  color: $brand-primary;
  text-align: center;
  margin-top: 1em;
}

p.detail-stars {
  text-align: center;
  margin: 1.5em 0 .5em;
}

p.build-stars {
  text-align: center;
  margin-bottom: 10px;
}

p.detail-stars span.glyphicon {
  color: #808080;
  font-size: 2em;
}

p.build-stars span.glyphicon {
  color: #808080;
  font-size: 1.2em;
}

p.build-stars.One > .star1,
p.build-stars.Two > .star1,
p.build-stars.Three > .star1,
p.build-stars.Four > .star1,
p.build-stars.Five > .star1,
p.detail-stars.One > .star1,
p.detail-stars.Two > .star1,
p.detail-stars.Three > .star1,
p.detail-stars.Four > .star1,
p.detail-stars.Five > .star1 {
  color: #e6ce31;
}

p.build-stars.Two > .star2,
p.build-stars.Three > .star2,
p.build-stars.Four > .star2,
p.build-stars.Five > .star2,
p.detail-stars.Two > .star2,
p.detail-stars.Three > .star2,
p.detail-stars.Four > .star2,
p.detail-stars.Five > .star2 {
  color: #e6ce31;
}

p.build-stars.Three > .star3,
p.build-stars.Four > .star3,
p.build-stars.Five > .star3,
p.detail-stars.Three > .star3,
p.detail-stars.Four > .star3,
p.detail-stars.Five > .star3 {
  color: #e6ce31;
}

p.build-stars.Four > .star4,
p.build-stars.Five > .star4,
p.detail-stars.Four > .star4,
p.detail-stars.Five > .star4 {
  color: #e6ce31;
}

p.build-stars.Five > .star5,
p.detail-stars.Five > .star5 {
  color: #e6ce31;
}

.text-center {
  text-align: center;
}

.build-edit-price {
  font-size: 1.4em;
  font-weight: bold;
  color: $brand-primary;
  text-align: center;
}

.build-edit-count {
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
}

input[type="text"][id*="quantity"], input[type="number"][id*="quantity"] {
  width: 40px;
}

input[type="number"][id*="count"] {
  width: 60px;
}

.product_pod {
  padding: 5px;
}

.price_block {
  left: -8px;
  top: 8px;
}

.price_color {
  text-align: center;
  color: $brand-primary;
  /*margin-left: 5px;*/
  /*padding-left: 5px;*/
  font-size: 1.5714em;
}

.price_color > span {
  font-size: .6em;
}

.product_price .btn {
  font-size: 1em;
}

.build_info {
  margin-top: -10px;
  padding: 0 5px;
}

.build_info h5 {
  font-size: 1em;
}

.edit_item img.thumbnail,
.build_edit_item img.thumbnail {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
}

.edit_items {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
}

.edit_alert {
  flex: 1 100%;
}

.edit_item {
  padding: 10px;
  margin: 0;
  list-style: none;
  border: 1px solid #ddd;

  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 100%;
}

.edit_img, .edit_img-blank {
  flex: 0 80px;
  padding-right: 20px;
}

.edit_title, .edit_title-blank {
  flex: 1 0px;
}

.edit_qdp {
  flex: 0 350px;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.edit_qty {
  flex: 0 90px;
}

.edit_del {
  flex: 0 110px;
}

.edit_price {
  flex: 0 150px;
}

.main {
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.sidebar {
  flex: 0 280px;
  margin-right: 20px;
}

.content {
  flex: 1;
}

.content, .page {
  margin-bottom: 30px;
}

.form-actions {
  margin: 20px 0;
}

.content h1 {
  margin: 0;
}

.page-header {
  margin: 0 0 20px;
}

.computer_block, .build {
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.computer_menu, .build_menu {
  flex: 0 280px;
  margin-right: 20px;
}

.computer_main, .build_main {
  flex: 1;
}

.computer_main h1, .build_main h1 {
  margin: 0 0 18px;
}

.build_items {
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.build_item {
  display: flex;
  flex-direction: column;
  max-width: 32%;
  flex: 0 1 32%;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 10px;
  transition: border 0.2s ease-in-out 0s;
}

.build_item img {
  max-width: 100%;
}

.form-horizontal {
  .form-group {
    margin-left: 0;
    width: 100%;
  }
  .controls {
    input, select, textarea {
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
      color: #555;
      display: block;
      font-size: 14px;
      height: 34px;
      line-height: 1.42857;
      padding: 6px 12px;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      width: 100%;
      &:focus {
        border: 1px solid #66afe9;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
      }
    }
    textarea {
      height: 150px;
    }
  }
}

.shipping_addresses {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .old_addresses, .new_address {
    flex: 0 1 48%;
    @media (max-width: $screen-sm-max) {
      flex: 1 100%;
    }
  }
  .unstyled {
    list-style: outside none none;
    padding-left: 0;
  }
  .well {
    position: relative;
    .address-controls {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.shipping-payment {
  margin-left: 0;
}

.navibar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: $brand-primary;
  a {
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  [class*="step"] {
    flex: 1 0px;
    text-align: center;
    padding: 15px;
    border: 1px solid darken($brand-primary, 5%);
  }
  span {
    color: white;
  }
  @media (max-width: $screen-xs-max) {
    .disabled, .previous, .visited {
      display: none;
    }
  }
}

.basket_summary {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  .form-submit-button {
    align-self: flex-end;
    margin-top: 20px;
  }
}

.basket-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;

  @media (orientation: portrait) and (max-width: 530px) {
    & p {
      display: none;
    }
  }
  .title-title {
    flex: 1 1 0;
  }
  .title-qty {
    flex: 0 1 100px;
  }
  .title-price {
    flex: 0 1 150px;
    @media (orientation: landscape) and (max-width: $screen-xs-max) {
      & {
        flex: 0 1 100px;
      }
    }
  }
  .shipping-method-8 {
    flex: 0 1 66.66667%;
  }
  .shipping-method-3 {
    flex: 0 1 25%;
  }
  .shipping-method-1 {
    flex: 0 1 8.33333%;
  }
}

.basket-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  @media (orientation: portrait) and (max-width: 530px) {
    flex-flow: row wrap;
  }
  .item-img {
    flex: 0 1 80px;
    .thumbnail {
      margin: 10px 25px 10px 0;
      @media (orientation: portrait) and (max-width: 530px) {
        & {
          margin-right: 0;
        }
      }
    }
  }
  .item-title {
    flex: 1 0px;
    h3 {
      margin: 0 0 10px;
    }
    @media (orientation: portrait) and (max-width: 530px) {
      & {
        order: -1;
        flex: 1 100%;
        h3 {
          margin-top: 15px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      & h3 {
        font-size: 18px;
      }
    }
  }
  .item-qty {
    flex: 0 1 100px;
    @media (orientation: portrait) and (max-width: 530px) {
      & {
        flex: 1 5%;
      }
    }
    @media (orientation: landscape) and (max-width: $screen-xs-max) {
      & {
        flex: 0 1 50px;
      }
    }
  }
  .item-price {
    flex: 0 1 150px;
    @media (orientation: portrait) and (max-width: 530px) {
      & {
        flex: 1 0px;
      }
    }
    @media (orientation: landscape) and (max-width: $screen-xs-max) {
      & {
        flex: 0 1 100px;
      }
    }
  }
  .shipping-method-8 {
    flex: 1 1 66.66667%;
  }
  .shipping-method-3 {
    flex: 1 1 25%;
  }
  .shipping-method-1 {
    flex: 1 1 8.33333%;
  }
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

@media (max-width: 1199px) {
  .product_pod {
    font-size: .9em;
  }
  .price_block {
    left: -11px;
    top: 0;
  }
  .price_color {
    margin-bottom: 7px;
  }
}

@media (max-width: 991px) {
  ul.footer-links > li {
    float: none;
  }
  .product_pod {
    font-size: 1.11111em;
  }
  .sidebar, .content {
    flex: 1 100%;
    margin-right: 0;
  }
  .computer_main, .computer_menu,
  .build_menu, .build_main {
    flex: 1 100%;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .container-fluid {
    padding-left: 15px;
  }
  #logo > h1 {
    font: bold 36px/0.95em 'Open Sans', sans-serif;
  }
  #logo > img {
    max-height: 80px;
    max-width: 67px;
  }
  #logo {
    padding: 44px 0 0;
  }
  p.detail-price {
    font-size: 2em;
  }
  .edit_item {
    flex: 0 1 50%;
  }
  .edit_title {
    flex: 1 100%;
    order: 1;
  }
  .edit_img {
    flex: 1 0px;
    order: 2;
  }
  .edit_qdp {
    flex: 1 0px;
    order: 3;
  }
  .edit_qty,
  .edit_del,
  .edit_price {
    flex: 1 100%;
  }
  .edit_price {
    order: 1;
  }
  .edit_title p,
  .edit_qdp p {
    text-align: center;
  }
  .build_item {
    max-width: 48%;
    flex: 0 1 48%;
  }
}

@media (max-width: 530px) {
  .edit_item {
    flex: 1 100%;
  }
}

@media (max-width: 420px) {
  .build-count-size {
    width: 100%;
  }
  .design-by {
    display: none;
  }
  .registration h2 {
    font-size: 26px !important;
  }
  .registration p {
    font-size: 18px !important;
  }
  .registration .btn {
    font-size: 18px !important;
  }
  .socket {
    width: 100%;
  }
  .build_detail .col-xs-6,
  .build_items > .col-xs-6 {
    width: 100%;
  }
  .build-edit-item {
    width: 100%;
  }
  .price_block {
    top: 15px;
  }
  .build_item {
    max-width: 100%;
    flex: 1 100%;
  }
}

.sorted-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  @media (max-width: 580px) {
    .num_el {
      display: none;
    }
  }
}

.current {
  border-color: $brand-primary;
}

.review p.detail-stars > span.glyphicon {
  font-size: 1em;
}

.review p.detail-stars {
  font-size: 1.2em;
  text-align: left;
}

.reviewz p.detail-stars {
  font-size: 1.2em;
  text-align: left;
}

.review form {
  display: inline-block;
  margin-bottom: 0;
}

.review_add {
  //width:50%;
  margin-bottom: 20px;
}

.reviewrating .detail-stars {
  font-size: 1.5em;
  text-align: left;
}

.reviewrating .detail-stars span {
  cursor: pointer;
}

.next-block {
  flex: 1 1 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  .next-text {
    flex: 1 1 0;
    display: flex;
    align-items: center;
  }
  .next-btn {
    flex: 0 0 auto;
  }
}

#write_review, .btn-edit {
  margin-top: 10px;
}

.build_detail td {
  white-space: pre-wrap !important;
}

.btn-navbar {
  display: flex;
  > a {
    //flex: 0 1 164px;
    min-width: 164px;
    margin-right: 10px;
    height: 52px;
  }
  .navbar {
    flex: 1 0 0;
    .navbar-nav a {
      margin-top: -1px;
    }
  }
  @media (max-width: 520px) and (orientation: portrait) {
    flex-flow: wrap;
    > a, .navbar {
      flex: 1 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

  }
  @media (max-width: $screen-xs-max) {
    > a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

.build-edit-btn {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  .btn-save, .btn-buy, .btn-clear {
    flex: 0 1 25%;
  }
  .btn-clear {
    padding-right: 10px;
  }
  .btn-dummy {
    flex: 1 100 0;
    height: 1px;
  }
  @media (max-width: 520px) {
    .btn-save, .btn-buy, .btn-clear {
      flex: 1 33.3333%;
      margin-top: 10px;
      padding-right: 0;
    }
    .btn-save, .btn-clear {
      padding-right: 10px;
    }
    .btn-dummy {
      display: none;
    }
  }
  @media (max-width: 420px) and (orientation: portrait) {
    flex-flow: wrap;
    .btn-save, .btn-buy, .btn-clear {
      flex: 1 100%;
      margin-top: 10px;
      padding-right: 0;
    }
  }
}
.in-build {
  background: #ccc;
}
.build_menu .active {
  background: #97cc88;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #63BF63;
    border-color: #63BF63;
}
.alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.color-red, .color-red a {
  color:red;
}