#product_gallery .carousel-indicators::before, #product_gallery .carousel-indicators::after {
    content: "";
    display: table;
    line-height: 0;
}
#product_gallery .carousel-indicators::after {
    clear: both;
}
#product_gallery .carousel-indicators li {
    background-color: #fff;
    display: block;
    float: left;
    height: auto;
    margin: 5px;
    opacity: 0.5;
    text-indent: 0;
    width: 17%;
}
#product_gallery .carousel-indicators .active {
    opacity: 1;
}
#product_gallery .thumbnail {
    transition: none 0s ease 0s ;
    margin-bottom:10px;
}
#product_gallery .carousel-indicators {
    display: block;
    margin-top: 1%;
    position: static;
    width: auto;
    margin-left:0;
}
.carousel-control {
    background: #222222 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    height: 50px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 50px;
}
.carousel-control:hover, .carousel-control:focus {
    color: #ffffff;
    opacity: 0.9;
    text-decoration: none;
}
#product_gallery .carousel-control {
    left: -25px;
    top: 200px;
}
#product_gallery .carousel-control.right {
    left: auto;
    right: -25px;
}