{% load i18n %}
<footer class="footer">
    {% block footer %}
        <div class="container">
            <div class="copyright"><span class="text-muted">© 2009-2015 SolarWind®</span></div>
            <div class="design-by"><span class="text-muted">Disign by </span><strong class="text-muted">pluton</strong></div>
        </div>
    {% endblock %}
</footer>
