{#{% if google_analytics_id %}#}
{#    <script type="text/javascript">#}
{#        var _gaq = _gaq || [];#}
{#        _gaq.push(['_setAccount', '{{ google_analytics_id }}']);#}
{#        _gaq.push(['_trackPageview']);#}
{#        {% block extratracking %}{% endblock %}#}
{#        (function() {#}
{#            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;#}
{#            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
{#            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);#}
{#        })();#}
{#    </script>#}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61526738-1', 'auto');
  ga('send', 'pageview');

</script>
{#{% endif %}#}
