{% load purchase_info_tags %}
{% load currency_filters %}
{% load category_tags %}
{% load i18n %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-text visible-xs-inline-block" href="tel:0981588886">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                (098) 158-88-86</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% block nav_items %}
                    <li {% if url_path == '/' %}class="active"{% endif %}><a href="/">Главная</a></li>
                    <li {% if flatpage.url == '/info/' %} class="active"{% endif %}><a href="/info/">Как собрать <span class="sr-only">(current)</span></a></li>
                    <li {% if flatpage.url == '/delivery/' %} class="active"{% endif %}><a href="/delivery/">Доставка</a></li>
                    <li class="hidden-sm{% if flatpage.url == '/warranty/' %} active{% endif %}"><a href="/warranty/">Гарантия</a></li>
                    <li {% if flatpage.url == '/contact/' %} class="active"{% endif %}><a href="/contact/">Контакты</a></li>
                    <li><a href="{% url 'catalogue:category' category_slug='cpu' pk=2 %}">Комплектующие</a></li>
                {% endblock nav_items %}
            </ul>
{#            <form method="get" action="{% url 'search:search' %}" class="navbar-form navbar-right" role="search">#}
{#                <!-- <div class="form-group"> -->#}
{#                <div class="input-group">#}
{#                    <input type="text" class="form-control" name="q" placeholder="поиск">#}
{#			      <span class="input-group-btn">#}
{#			        <input class="btn btn-default" type="submit" value="{% trans "Search" %}">#}
{#			      </span>#}
{#                </div><!-- /input-group -->#}
{#            </form>#}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
