{% load purchase_info_tags %}
{% load currency_filters %}
{% load category_tags %}
{% load cache %}
{% load i18n %}

<div class="btn-navbar">
    {% if request.computer.pk %}
        {# TODO cache #}
         {% cache 3600 current_comp_price request.computer.pk %}
        {% purchase_info_for_computer request request.computer as session %}
        {% if session.price.exists %}
            <a href="{% url 'computer:edit' %}" class="btn btn-lg btn-warning">
                {% if session.price.is_tax_known %}
                    <span>Моя сборка: {{ session.price.incl_tax|currency:session.price.currency }}</span>
                {% else %}
                    <span>Моя сборка: {{ session.price.excl_tax|currency:session.price.currency }}</span>
                {% endif %}
            </a>
        {% else %}
            <a href="{% url 'build:socket' %}" class="btn btn-lg btn-warning">
                <span>Начать сборку ПК</span>
            </a>
        {% endif %}
         {% endcache %}
    {% else %}
        <a href="{% url 'build:socket' %}" class="btn btn-lg btn-warning">
            <span>Начать сборку ПК</span>
        </a>
    {% endif %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-text visible-xs-inline-block" href="tel:0981588886">
                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    (098) 158-88-86</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block nav_items %}
                        <li {% if url_path == '/' %}class="active"{% endif %}><a href="/">Главная</a></li>
                        <li {% if flatpage.url == '/info/' %} class="active"{% endif %}><a href="/info/">Как собрать
                            <span class="sr-only">(current)</span></a></li>
                        <li {% if flatpage.url == '/delivery/' %} class="active"{% endif %}><a href="/delivery/">Доставка</a>
                        </li>
                        <li class="hidden-sm{% if flatpage.url == '/warranty/' %} active{% endif %}"><a
                                href="/warranty/">Гарантия</a></li>
                        <li {% if flatpage.url == '/contact/' %} class="active"{% endif %}><a
                                href="/contact/">Контакты</a></li>
                        <li><a href="{% url 'catalogue:category' category_slug='cpu' pk=2 %}">Комплектующие</a></li>
                    {% endblock nav_items %}
                </ul>
                <form method="get" action="{% url 'search:search' %}" class="navbar-form navbar-right" role="search">
                    <!-- <div class="form-group"> -->
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" placeholder="поиск сборки по номеру">
    			      <span class="input-group-btn">
    			        <input class="btn btn-default" type="submit" value="{% trans "Search" %}">
    			      </span>
                    </div><!-- /input-group -->
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>
