{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

{% if session.availability.is_available_to_buy %}
    {% build_form request product 'single' as basket_form %}
    <form id="add_to_basket_form" action="{% url 'basket:add' pk=product.pk  %}" method="post" class="add-to-basket">
        {% csrf_token %}
        {{ basket_form.as_p }}
        <button type="submit" class="btn btn-success btn-lg btn-block" value="{% trans "Buy" %}">Купить</button>
    </form>
{% else %}
    <span class="btn btn-block disabled">{% trans "Buy" %}</span>
{% endif %}
