{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load display_tags %}
{% load staticfiles %}
{% load currency_filters %}
{% load purchase_info_tags %}

{% block product %}
    <article class="product_pod">

        <div class="row">
            <div class="image_container col-xs-6">
                {% block product_image %}
                    {% with image=product.primary_image %}
                        {% thumbnail image.original "x150" upscale=False as thumb %}
                            <a href="{{ product.get_absolute_url }}"><img src="{{ thumb.url }}" alt="{{ product.get_title }}" class="thumbnail"></a>
                        {% endthumbnail %}
                    {% endwith %}
                {% endblock %}
            </div>

            <div class="price_block col-xs-6">
                {% block price %}
                    {% purchase_info_for_product request product as session %}
                    {% if session.price.exists %}
                        {% if session.price.excl_tax == 0 %}
                            <p class="price_color">{% trans "Free" %}</p>
                        {% elif session.price.is_tax_known %}
                            <p class="price_color"><strong>{{ session.price.incl_tax|floatformat:'0' }}</strong><span>грн</span></p>
                        {% else %}
                            <p class="price_color"><strong>{{ session.price.excl_tax|floatformat:'0' }}</strong><span>грн</span></p>
                        {% endif %}
                    {% else %}
                        <p class="price_color">&nbsp;</p>
                    {% endif %}
                {% endblock %}

                {% block product_price %}
                    <div class="product_price">
                        {% if not product.is_parent %}
                            {% include "catalogue/partials/add_to_basket_form_compact.html" %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>

        {% block product_title %}
            <div class="build_info">
                {% with title=product.get_title|cut:'Видеокарта '|cut:'Оперативная память '|cut:'Процессор '|cut:'Кулер для процессора '|cut:'Материнская плата '|cut:'Модуль памяти '|cut:'Жесткий диск '|cut:'Накопитель SSD '|cut:'Оптический привод '|cut:'Корпус '|cut:'Блок питания ' %}
                    <h5 class="text-center"><a href="{{ product.get_absolute_url }}" title="{{ product.get_title }}">
                        <strong>{{ title|truncatechars:60 }}</strong></a></h5>
                {% endwith %}

                {% block product_review %}
                    {% iffeature "reviews" %}
                        <p class="build-stars {{ product.rating|as_stars }}">
                            <span class="glyphicon glyphicon-star star1"></span>
                            <span class="glyphicon glyphicon-star star2"></span>
                            <span class="glyphicon glyphicon-star star3"></span>
                            <span class="glyphicon glyphicon-star star4"></span>
                            <span class="glyphicon glyphicon-star star5"></span><br />
                        </p>
                    {% endiffeature %}
                {% endblock %}

                <small class="description">
                    {{ product.short_description|safe|truncatechars:220 }}
                </small>
            </div>
        {% endblock %}
    </article>
{% endblock %}
