{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load static %}

{% purchase_info_for_computer request computer as session %}

{% computer_basket_form request computer as basket_form %}
<form id="add_to_basket_form" action="{% url 'basket:computer-add' pk=computer.pk %}" method="post"
      class="form-stacked add-to-basket">
    {% csrf_token %}
    {% include "partials/form_fields.html" with form=basket_form %}
    {% if session.availability.is_available_to_buy %}
        <button type="submit" class="btn btn-success btn-lg btn-block"
                value="{% trans "Add to basket" %}">{% trans "Add to basket" %}</button>
    {% else %}
        <button type="submit" class="btn btn-primary btn-lg btn-block"
                value="{% trans "Add to basket" %}">{% trans "Add to basket" %}</button>
    {% endif %}
</form>
<form action="{% url 'computer:pre_edit' pk=computer.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning btn-lg btn-block btn-edit">{% trans "Edit" %}</button>
    {% if user.is_authenticated and user.is_staff %}
        <div style="font-size:1.2em;line-height:1.2em;margin-top:10px;">
            <input id="id_create" type="checkbox" name="create"> <label for="id_create">Create new computer</label>
        </div>
    {% endif %}
</form>
{% comment %}
    {% include "computer/partials/add_to_wishlist.html" %}
{% else %}
    {% if has_active_alert %}
        <p>{% trans "You have an active stock alert for this product." %}</p>
    {% else %}
        <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=computer.id %}" class="add-to-basket">
            {% csrf_token %}
            <p>{% trans "You can get an email alert when this product is back in stock." %}</p>
            {% include "partials/form_fields.html" with form=alert_form %}
            <button type="submit" class="btn btn-large btn-info btn-block">{% trans "Notify me" %}</button>
        </form>
    {% endif %}
    {% include "catalogue/partials/add_to_wishlist.html" %}
    {% endcomment %}
