{% load basket_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_computer request computer as session %}

    {% computer_basket_form request computer 'single' as basket_form %}
    <form action="{% url 'basket:computer-add' pk=computer.pk %}" method="post">
        {% csrf_token %}
        {{ basket_form.as_p }}
        {% if session.availability.is_available_to_buy %}
            <button type="submit" class="btn btn-primary btn-block">{% trans "Buy" %}</button>
        {% else %}
            <button type="submit" class="btn btn-warning btn-block">{% trans "Buy" %}</button>
            <p style="font-size:.85em;color:#3d3d3d;text-align:center;margin-top:5px;">нет в наличии</p>
        {% endif %}
    </form>
