{% load i18n %}

<dl>
    <dt class="nav-header">{{ name }}</dt>
    {% for item in items %}
        {% if item.name == 'true' %}
        <dd>
            {% if item.selected %}
                <input class="facet_checkbox" type="checkbox" name="{{ item.name }}" checked />
                <input class="facet_url" type="hidden" name="url_for_{{ item.name }}" value="{{ item.deselect_url }}" />
                <strong>
                    {% if item.name == 'true' %}
                        С DVD-приводом
                    {% else %}
                        Без DVD-привода
                    {% endif %}
                </strong>
            {% else %}
                {% if item.disabled %}
                    <input type="checkbox" name="{{ item.name }}" disabled />
                    {% if item.name == 'true'  %}
                        С DVD-приводом
                    {% else %}
                        Без DVD-привода
                    {% endif %}
                {% else %}
                    <input class="facet_checkbox" type="checkbox" name="{{ item.name }}" />
                    <input class="facet_url" type="hidden" name="url_for_{{ item.name }}" value="{{ item.select_url }}" />
                    <a href="{{ item.select_url }}">
                        {% if item.name == 'true'  %}
                            С DVD-приводом
                        {% else %}
                            Без DVD-привода
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
            {% if item.show_count %}
                ({{ item.count }})
            {% endif %}
        </dd>
        {% endif %}
    {% endfor %}
</dl>