{% load reviews_tags %}
{% load thumbnail %}
{% load i18n %}
{% load cache %}
{% load display_tags %}
{% load staticfiles %}
{% load purchase_info_tags %}

{% block product %}
    <article class="product_pod">
        <div class="row">
            <div class="image_container col-xs-6">
                {% block product_image %}
                    {% with image=computer.primary_image %}
                        {% thumbnail image.original "x155" upscale=False as thumb %}
                            <a href="{{ computer.get_absolute_url }}"><img src="{{ thumb.url }}"
                                                                           alt="{{ computer.get_title }}"
                                                                           class="thumbnail"></a>
                        {% endthumbnail %}
                    {% endwith %}
                {% endblock %}
            </div>

            <div class="price_block col-xs-6">
                {% block price %}

                    {# TODO cache #}
                     {% cache 3600 comp_price computer.id %}
                    {% purchase_info_for_computer request computer as session %}
                    {% if session.price.exists %}
                        {% if session.price.is_tax_known %}
                            <p class="price_color">
                                <strong>{{ session.price.incl_tax|floatformat:'0' }}</strong><span>грн</span>
                            </p>
                        {% else %}
                            <p class="price_color">
                                <strong>{{ session.price.excl_tax|floatformat:'0' }}</strong><span>грн</span>
                            </p>
                        {% endif %}
                    {% else %}
                        <p class="price_color">&nbsp;</p>
                    {% endif %}
                     {% endcache %}
                {% endblock %}

                {% block product_price %}
                    <div class="product_price">
                        {# TODO cache #}
                         {% cache 3600 comp_button_buy computer.id %}
                        {% if not computer.is_group %}
                            {% include "computer/partials/add_to_basket_form_compact.html" %}
                        {% endif %}
                         {% endcache %}
                    </div>
                {% endblock %}
            </div>

        </div>

        {% block product_title %}
            <h5 class="text-center"><a href="{{ computer.get_absolute_url }}" title="{{ computer.get_title }}">
                <strong>{{ computer.get_title|truncatewords:4 }}</strong></a></h5>

            {% block product_review %}
                {% iffeature "reviews" %}
                    <p class="build-stars {{ computer.rating|as_stars }}">
                        <span class="glyphicon glyphicon-star star1"></span>
                        <span class="glyphicon glyphicon-star star2"></span>
                        <span class="glyphicon glyphicon-star star3"></span>
                        <span class="glyphicon glyphicon-star star4"></span>
                        <span class="glyphicon glyphicon-star star5"></span><br/>
                    </p>
                {% endiffeature %}
            {% endblock %}
            <small class="description">
                {# TODO cache #}
                 {% cache 3600 short_comp_info computer.id %}
                {% if computer.cpu %}
                    <strong>{% trans "Processor: " %}</strong>{{ computer.cpu.title|cut:'Процессор ' }}
                {% endif %}
                {% if computer.rams %}
                    <br/><strong>{% trans "RAM volume: " %}</strong>{{ computer.ram_volume }} Гб
                {% endif %}
                {% if computer.video_cards %}
                    {% for video_model in computer.video_models %}
                        <br/><strong>{% trans "Videocard: " %}</strong>{{ video_model }}
                    {% endfor %}
                {% endif %}
                {% if computer.hdds %}
                    <br/><strong>{% trans "HDD volume: " %}</strong>{{ computer.hdd_volume }} Гб
                {% endif %}
                {% if computer.ssds %}
                    <br/><strong>{% trans "SSD volume: " %}</strong>{{ computer.ssd_volume }} Гб
                {% endif %}
                {% if computer.odds %}
                    <br/><strong>{% trans "Has DVD" %}</strong>
                {% endif %}
                 {% endcache %}
            </small>
        {% endblock %}

    </article>
{% endblock %}
