{% load reviews_tags %}
{% load i18n %}

<article class="review">
    <header>
        <p class="detail-stars {{ review.score|as_stars }}">
            <span class="glyphicon glyphicon-star star1"></span>
            <span class="glyphicon glyphicon-star star2"></span>
            <span class="glyphicon glyphicon-star star3"></span>
            <span class="glyphicon glyphicon-star star4"></span>
            <span class="glyphicon glyphicon-star star5"></span>
            <a href="{{ review.get_absolute_url }}">{{ review.title }}</a>
        </p>
        </h3>
    </header>

    <p>{{ review.body|striptags }}</p>

    <p>
        <small>
            {% if review.user == user %}
                {% blocktrans with review_date=review.date_created %}
                Reviewed by you on {{ review_date }}
                {% endblocktrans %}
            {% else %}
                {% blocktrans with name=review.reviewer_name review_date=review.date_created %}
                    Reviewed by <strong>{{ name }}</strong> on {{ review_date }}
                {% endblocktrans %}
            {% endif %}
            | <a href="{% url 'computer:reviews-detail' computer_slug=computer.slug computer_pk=computer.pk pk=review.pk %}">{% trans 'Permalink' %}</a>
        </small>
    </p>

    {% if review|may_vote:user %}
        <small>{% trans "Is this review helpful?" %}</small>
        <form action="{% url 'computer:reviews-vote' computer_slug=computer.slug computer_pk=computer.pk pk=review.pk %}" method="post" class="vote_agree" >
            {% csrf_token %}
            <input type="hidden" name="delta" value="1"/>
            <button type="submit" class="btn btn-success btn-mini">{% trans "Yes" %}</button>
        </form>
        <form  action="{% url 'computer:reviews-vote' computer_slug=computer.slug computer_pk=computer.pk pk=review.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="delta" value="-1"/>
            <button type="submit" class="btn btn-danger btn-mini">{% trans "No" %}</button>
        </form>
    {% endif %}
             
    <p>   
        <small>
        {% if review.has_votes %}
            {% blocktrans with num_up_votes=review.num_up_votes count num_votes=review.total_votes %}
            <strong>{{ num_up_votes }}</strong> of 1 customer found this useful
            {% plural %}
            <strong>{{ num_up_votes }}</strong> of {{ num_votes }} customers found this useful
            {% endblocktrans %}
        {% else %}
            {% trans "This review has no votes." %}
        {% endif %}
        </small>
    </p>
</article>
