{% load i18n %}

{% if quantity == 1 %}
    {% blocktrans with title=product.get_title %}
    <strong>{{ title }}</strong> has been added to your build.
    {% endblocktrans %}
{% else %}
    {% blocktrans with title=product.get_title quantity=quantity %}
    <strong>{{ quantity }}</strong> copies of <strong>{{ title }}</strong>
    have been added to your build.
    {% endblocktrans %}
{% endif %}
