{% load reviews_tags %}
{% load i18n %}

{% if computer.rating != None %}
    <p class="detail-stars {{ computer.rating|as_stars }}">
        <span class="glyphicon glyphicon-star star1"></span>
        <span class="glyphicon glyphicon-star star2"></span>
        <span class="glyphicon glyphicon-star star3"></span>
        <span class="glyphicon glyphicon-star star4"></span>
        <span class="glyphicon glyphicon-star star5"></span><br />

        <small><a href="{% url 'computer:reviews-list' computer_slug=computer.slug computer_pk=computer.id %}">
            {% blocktrans count computer.num_approved_reviews as num_reviews %}
                1 customer review
            {% plural %}
                {{ num_reviews }} customer reviews
            {% endblocktrans %}
        </a></small>
    </p>
{% else %}
    <p>
{% endif %}

</p>
