{% extends "layout.html" %}
{% load i18n %}

{% block title %}
    {{ review.title }} | {% trans "Reviews" %} | {{ computer.title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            <span class="divider">/</span>
        </li>
        {% with category=computer.categories.all.0 %}
            {% for c in category.get_ancestors %}
                <li>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                    <span class="divider">/</span>
                </li>
            {% endfor %}
            <li>
                <a href="{{ computer.get_absolute_url }}">{{ computer.title }}</a>
                <span class="divider">/</span>
            </li>
            <li>
                <a href="{% url 'computer:reviews-list' computer_slug=computer.slug computer_pk=computer.pk %}">{% trans "Reviews" %}</a>
                <span class="divider">/</span>
            </li>
        {% endwith %}
        <li class="active">{{ review.title }}</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Customer reviews" %}
{% endblock  %}

{% block content %}
    <section>
        {% include 'computer/reviews/review_product.html' %}
        {% include 'computer/partials/review.html' %}
    </section>
{% endblock %}
