{% extends "computer/detail.html" %}
{% load i18n %}

{% block product_review %}
    <div id="addreview" class="review_add">
        <form id="add_review_form" class="form-horizontal" method="post" action="./#addreview">
            <fieldset>
                <legend>{% trans "Leave a product review" %}</legend>
                {% csrf_token %}
                
                {% include 'partials/form_field.html' with field=form.title %}

                <div class="reviewrating form-group {% if form.score.errors %}error{% endif %}">
                    <label for="{{ form.score.auto_id }}" class="control-label required">
                        {{ form.score.label|safe }} <span>*</span>
                    </label>
                    <div class="controls">
                        <div hidden>
                            {{ form.score }}
                        </div>
                        <p class="detail-stars {% if form.score.value == '1' %}One{% elif form.score.value == '2' %}Two{% elif form.score.value == '3' %}Three{% elif form.score.value == '4' %}Four{% elif form.score.value == '5' %}Five{% endif %}">
                            <span class="glyphicon glyphicon-star star1"></span>
                            <span class="glyphicon glyphicon-star star2"></span>
                            <span class="glyphicon glyphicon-star star3"></span>
                            <span class="glyphicon glyphicon-star star4"></span>
                            <span class="glyphicon glyphicon-star star5"></span>
                        </p>

                        {% for error in form.score.errors %}
                            <span class="error-block"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                        {% endfor %}
                    </div>

                    {% comment %}
                    {% include 'partials/form_field.html' with field=form.score %}
                    {% endcomment %}
                </div>

                {% include 'partials/form_field.html' with field=form.body %}
                {% if form.name %}
                    {% include 'partials/form_field.html' with field=form.name %}
                {% endif %}
                {% if form.name %}
                    {% include 'partials/form_field.html' with field=form.email %}
                {% endif %}


                <button type="submit" class="btn btn-primary btn-lg" data-loading-text="{% trans 'Saving...' %}">{% trans "Save review" %}</button>
                {% trans "or" %}
                <a href="{{ product.get_absolute_url }}">{% trans "cancel" %}</a>
            </fieldset>
        </form>
    </div>
{% endblock %}
