@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("^https?://(www|encrypted)\.google(\.[a-z]{2,3}){1,2}/((search\\?|((webhp)?(\\?|#))).*)?$") {

#ab_ctls {
    top: -28px!important;
}

#appbar,
#top_nav,
#rhscol {
    min-width: 0!important;
}

#center_col {
    margin-left: 120px!important;
}

#searchform {
    z-index: 103;
}

#hdtbMenus {
    display: block!important;
    position: fixed!important;
    top: 60px!important;
    height: 22px!important;
    width: 100%!important;
    padding-bottom: 5px!important;
    padding-top: 7px!important;
    border-bottom: 1px solid #ebebeb!important;
    overflow: visible!important;
}

#hdtbSum {
    position: fixed!important;
    top: 60px!important;
    height: 100%!important;
    width: 120px!important;
    border-bottom: none!important;
    border-right: 1px solid #ebebeb;
    background: #FFF !important;
    z-index: 102;
}

#hdtb_more_mn {
    display: block!important;
    position: relative!important;
    top: 0!important;
    padding: 0!important;
    border: none!important;
}

.hdtbItm.hdtbSel,
#hdtb .hdtbItm a,
#hdtb_more_mn a,
.hdtbItm > label,
#cdrlnk {
    line-height: 42px!important;
}

#hdtb_msb {
    border-right: 1px solid #ebebeb;
}

#hdtb_msb > .hdtb_mitem.hdtb_msel + .hdtb_mitem,
#hdtb_msb > .hdtb_mitem.hdtb_msel + #hdtb_more + #hdtb_more_mn .hdtb_mitem {
    border-top: 1px solid #ebebeb!important;
}

#hdtb_msb > .hdtb_mitem:first-child {
    margin-left: 0!important;
    border-bottom: none!important;
}

#hdtb_msb > .hdtb_mitem:first-child:not(.hdtb_msel) {
    border-bottom: 1px solid #ebebeb!important;
}

#hdtb_msb .hdtb_mitem.hdtb_msel,
#hdtb_msb .hdtb_mitem.hdtb_msel_pre {
    margin-left: 0!important;
    border-bottom: none!important;
    border-left: 3px solid #dd4b39;
}

#hdtb_msb .hdtb_mitem {
    float: left!important;
    height: 54px!important;
    width: 120px!important;
    border-bottom: 1px solid #ebebeb;
    clear: left!important;
}

#hdtb_msb .hdtb_mitem:hover:not(.hdtb_msel) {
    background: #f1f1f1 !important;
}

#hdtb_msb,
#hdtb_msb .hdtb_mitem {
    width: 100%!important;
}

#hdtb_tls,
#hdtb_more,
#epbar,
#appbar {
    display: none!important;
}

#ab_ctls {
    position: fixed!important;
    top: 48px!important;
    right: 35px!important;
}

#ab_ctls a.ab_button {
    min-width: 10px!important;
}

#main #cnt #rcnt {
    margin-top: 35px!important;
}

#gsr table.gssb_c {
    position: fixed!important;
}
}