body {
    padding-top: 0;
    font-family:"Open Sans",sans-serif;
    /*background: url("../img/r.jpg") no-repeat scroll 100% top rgba(0, 0, 0, 0);*/
}
#header {
	position:relative;
	padding-bottom: 20px;
}
#logo {
    float:left;
    /*padding:44px 0 0;*/
}
#logo > h1 {
    color:#444444;
    font:bold 49px/0.95em 'Open Sans',sans-serif;
    letter-spacing:-2px;
    padding-top:10px;
    display:inline-block;
}
.trs_hover {
    -webkit-transition:all 0.5s ease-in-out 0s;
            transition:all 0.5s ease-in-out 0s;
}
#logo:hover span {
	color:#0E7209;
	text-decoration:none;
}
#logo:hover {
	text-decoration:none;
}
#logo {
	text-decoration:none;
}
#logo > img {
	margin-top:-25px;
	margin-left: 10px;
    margin-right: 10px;
    max-height: 100px;
    max-width: 67px;
}
.gradient3 {
    background-color:#0E7209;
    border-color:#0E7209;
}
.header_cart {
    color:#FFFFFF !important;
    display:block;
    float:right;
    font:17px/36px 'Open Sans',sans-serif;
    height:40px;
    padding:0 10px 0 0;
}
.header_menu {
    -webkit-border-image:none;
         -o-border-image:none;
            border-image:none;
    border-radius:0 0 5px;
    border-style:solid;
    border-width:1px 1px 1px 0;
    position:absolute;
    right:15px;
    top:0;
    z-index:10;
}
.header_user {
    color:#FFFFFF !important;
    display:block;
    float:right;
    font-size:17px;
    height:40px;
    padding: 6px;
    font-weight:700;
    text-align:center;
    width:80px;
}
.header_cart .header_menu_figure {
    -webkit-border-image:none;
         -o-border-image:none;
            border-image:none;
    border-radius:0 0 0 5px;
    border-style:solid;
    border-width:1px 0 1px 1px;
    height:42px;
    left:-15px;
    position:absolute;
    top:-1px;
    -webkit-transform:skewX(22deg);
        -ms-transform:skewX(22deg);
            transform:skewX(22deg);
    width:30px;
    z-index:1;
}
.header_cart span.glyphicon-shopping-cart {
    font-size:20px;
    line-height:36px;
    margin:0 7px 0 0;
}
.header_cart b, .header_cart i, .header_cart span {
    position:relative;
    z-index:10;
}
.custom_header1 {
    float:right;
    padding:60px 0 0;
}
.custom_header1 h3 {
    color:#0E7209;
    display:inline-block;
    font-family:'Open Sans',sans-serif;
    vertical-align:baseline;
}
.custom_header1 h4 {
    color:#3F3E3E;
    display:inline-block;
    font-family:'Open Sans',sans-serif;
    vertical-align:baseline;
}
.custom_header1 span.glyphicon {
    color:#3F3E3E;
    font-size:28px;
    margin:0 7px 0 0;
    position:relative;
    top:2px;
    vertical-align:baseline;
}
.tel {
	padding-left: 10px;
}
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
	margin-left:-15px;
	margin-right: -15px;
}
.container-fluid {
	padding-left:0;
}
.navbar-header > .navbar-text {
	font-size: 1.2em;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 15px;
}
.navbar-header > .navbar-text:hover,
.navbar-header > .navbar-text:focus {
	text-decoration:none;
	background-color:#0c6108;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.jumbotron {
    border-bottom: 1px solid rgb(229, 229, 229);
    text-align: center;
}
.build-count {
    margin-top:15px;
    padding:15px;
    text-align: left;
    white-space: normal;
}
.build-count:hover {
	background:#fff;
}
.build-count > .badge {
	font-size:.85em;
	padding:10px;
	top:-5px;
}
.registration {
	margin-bottom: 100px;
	background-color: inherit;
	border: none;
}
.registration h2,
.registration p {
	text-align: center;
}
.registration h2 {
	/*font-size: 63px;*/
	margin-bottom: 30px;
}
.registration p {
	/*font-size: 21px;*/
}
.registration-body {
	margin:40px 0;
}
.registration input {
	font-size: 1.2em;
	height: 2.75em;
	margin: 10px 0;
	font-style: italic;
}
.registration .btn {
	margin: 20px 0;
}
ul.footer-links {
	display: block;
	list-style: outside none none;
	float: left;
    margin: 0;
    padding-left: 0;
}
ul.footer-links > li {
    float: left;
    display: block;
    position: relative;
    padding: 20px;
}
.design-by {
	float: right;
    padding: 20px;
}
.copyright {
	float: left;
    padding: 20px;
}
.socket {
	font-size: .9em;
}
.nav-build {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.nav-build a:first-child {
    background-color: #0e7209;
}
.nav-build a:first-child:hover {
    background-color: #084305;
    border-color: #084305;
}
.nav-build a:hover {
    text-decoration: none;
}
.nav-build > a,
.nav-build > span {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;


	border: #0E7209 solid 1px;
	border-radius: 4px;
	padding: 5px;
	min-height: 40px;
    height: 52px;
	margin-bottom: 5px;
}
.nav-build a span {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
}
.nav-build span {
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: #FFFFFF;
}
.nav-build > span {
    background-color: #0e7209;
}
.build-icon {
	width: 40px;
	padding: 5px;
	margin-right: 10px;
	float: left;
}
.build-text {
	width: 100%;
	padding: 0;
}
.build-text-label,
.build-text-name {
	font-size: .8em;
	line-height: 20px;
	color: #555;
	padding: 0;
	margin: 0;
}
.build-text-label {
	font-size: 1em;
	color: #000;
}
.test {
	border: #0E7209 solid 1px;
	border-radius: 5px;
	min-height: 300px;
	margin: 10px 0;
}
.my-build {
	margin-top: 20px;
	line-height: 40px;
	font-size: 1.2em;
	font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #0e7209;
    border-color: #0b5a07;
    color: #ffffff;
}
.my-build span.currency {
	font-size: .8em;
}
.my-build p {
	display: inline-block;
	line-height: 40px;
	margin:0 0 0 15px;
}
button.build-toogle {
	background-color: transparent;
	background-image: none;
    border: 1px solid #0a5307;
    border-radius: 4px;
	float: left;
    font-size: 1.4em;
    line-height: 40px;
}
/*
 * soberisam.com/detail.html 
 */
p.detail-price {
 	font-size: 3em;
 	font-weight: bold;
 	color: #0E7209;
 	text-align: center;
 	margin-top: 1em;
}
p.detail-stars {
	text-align: center;
	margin: 1.5em 0 .5em;
}
p.build-stars {
    text-align: center;
    margin-bottom: 10px;
}
p.detail-stars span.glyphicon {
	color: #808080;
	font-size: 2em;
}
p.build-stars span.glyphicon {
    color: #808080;
    font-size: 1.2em;
}
p.build-stars.One > .star1,
p.build-stars.Two > .star1,
p.build-stars.Three > .star1,
p.build-stars.Four > .star1,
p.build-stars.Five > .star1,
p.detail-stars.One > .star1,
p.detail-stars.Two > .star1,
p.detail-stars.Three > .star1,
p.detail-stars.Four > .star1,
p.detail-stars.Five > .star1 {
    color: #e6ce31;
}
p.build-stars.Two > .star2,
p.build-stars.Three > .star2,
p.build-stars.Four > .star2,
p.build-stars.Five > .star2,
p.detail-stars.Two > .star2,
p.detail-stars.Three > .star2,
p.detail-stars.Four > .star2,
p.detail-stars.Five > .star2 {
    color: #e6ce31;
}
p.build-stars.Three > .star3,
p.build-stars.Four > .star3,
p.build-stars.Five > .star3,
p.detail-stars.Three > .star3,
p.detail-stars.Four > .star3,
p.detail-stars.Five > .star3 {
    color: #e6ce31;
}
p.build-stars.Four > .star4,
p.build-stars.Five > .star4,
p.detail-stars.Four > .star4,
p.detail-stars.Five > .star4 {
    color: #e6ce31;
}
p.build-stars.Five > .star5,
p.detail-stars.Five > .star5 {
    color: #e6ce31;
}
.text-center {
	text-align: center;
}
.build-edit-price {
 	font-size: 1.4em;
 	font-weight: bold;
 	color: #0E7209;
 	text-align: center;
}
.build-edit-count {
 	font-size: 1.4em;
 	font-weight: bold;
 	text-align: center;
}
input[type="text"][id*="quantity"], input[type="number"][id*="quantity"] {
    width:40px;
}
input[type="number"][id*="count"] {
    width:60px;
}
.product_pod {
    padding: 5px;
}
.price_block {
    left: -8px;
    top: 8px;
}
.price_color {
    text-align: center;
    color:#0e7209;
    /*margin-left: 5px;*/
    /*padding-left: 5px;*/
    font-size:1.5714em;
}
.price_color > span {
    font-size:.6em;
}
.product_price .btn {
    font-size:1em;
}
.build_info {
    margin-top: -10px;
    padding: 0 5px;
}
.build_info h5 {
    font-size:1em;
}
.edit_item img.thumbnail,
.build_edit_item img.thumbnail{
    width:100%;
    max-width: 100%;
    margin-bottom: 0;
}
.edit_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;

        -ms-flex-flow: row wrap;

            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.edit_alert {
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
}
.edit_item {
    padding: 0;
    margin: 0 0 20px;
    list-style: none;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    -webkit-flex-flow: row wrap;

        -ms-flex-flow: row wrap;

            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 100%;
        -ms-flex: 1 100%;
            flex: 1 100%;
}
.edit_img {
    -webkit-box-flex: 0;
    -webkit-flex: 0 90px;
        -ms-flex: 0 90px;
            flex: 0 90px;
    padding-right: 20px;
}
.edit_title {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0px;
        -ms-flex: 1 0px;
            flex: 1 0px;
}
.edit_qdp {
    -webkit-box-flex: 0;
    -webkit-flex: 0 350px;
        -ms-flex: 0 350px;
            flex: 0 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;

        -ms-flex-flow: row wrap;

            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.edit_qty {
    -webkit-box-flex: 0;
    -webkit-flex: 0 90px;
        -ms-flex: 0 90px;
            flex: 0 90px;
}
.edit_del {
    -webkit-box-flex: 0;
    -webkit-flex: 0 110px;
        -ms-flex: 0 110px;
            flex: 0 110px;
}
.edit_price {
    -webkit-box-flex: 0;
    -webkit-flex: 0 150px;
        -ms-flex: 0 150px;
            flex: 0 150px;
}
.main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.sidebar {
    -webkit-box-flex: 0;
    -webkit-flex: 0 280px;
        -ms-flex: 0 280px;
            flex: 0 280px;
    margin-right: 20px;
}
.content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.content h1 {
    margin: 0;
}
.page-header {
    margin: 0 0 20px;
}
.build {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.build_menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 280px;
        -ms-flex: 0 280px;
            flex: 0 280px;
    margin-right: 20px;
}
.build_main {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.build_main h1 {
    margin: 0 0 18px;
}
.build_items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.build_item {
    max-width: 32%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 32%;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-transition: border 0.2s ease-in-out 0s;
            transition: border 0.2s ease-in-out 0s;
}
.build_item img {
    max-width: 100%;
}
@media (max-width: 1199px) {
    .product_pod {
        font-size:.9em;
    }
    .price_block {
        left:-11px;
        top:0;
    }
    .price_color {
        margin-bottom: 7px;
    }
}
@media (max-width: 991px) {
    ul.footer-links > li {
        float: none;
    }
    .product_pod {
        font-size:1.11111em;
    }
    .sidebar, .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        margin-right: 0;
    }
    .build_menu, .build_main {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        margin-right: 0;
    }
}
@media (max-width: 767px) {
	.container-fluid {
		padding-left:15px;
	}
	#logo > h1 {
	    font:bold 36px/0.95em 'Open Sans',sans-serif;
	}
	#logo > img {
	    max-height: 80px;
	    max-width: 67px;
	}
	#logo {
	    padding:44px 0 0;
	}
	p.detail-price {
	 	font-size: 2em;
	}
    .edit_item {
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 48%;
            -ms-flex: 0 1 48%;
                flex: 0 1 48%;
    }
    .edit_title {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
        -webkit-box-ordinal-group:2;
        -webkit-order:1;
            -ms-flex-order:1;
                order:1;
    }
    .edit_img {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0px;
            -ms-flex: 1 0px;
                flex: 1 0px;
        -webkit-box-ordinal-group:3;
        -webkit-order:2;
            -ms-flex-order:2;
                order:2;
    }
    .edit_qdp {
        -webkit-box-flex: 1;
        -webkit-flex: 1 0px;
            -ms-flex: 1 0px;
                flex: 1 0px;
        -webkit-box-ordinal-group:4;
        -webkit-order:3;
            -ms-flex-order:3;
                order:3;
    }
    .edit_qty,
    .edit_del,
    .edit_price {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
    }
    .edit_price {
        -webkit-box-ordinal-group:2;
        -webkit-order:1;
            -ms-flex-order:1;
                order:1;
    }
    .edit_title p,
    .edit_qdp p {
        text-align: center;
    }
    .build_item {
        max-width: 48%;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 48%;
            -ms-flex: 0 1 48%;
                flex: 0 1 48%;
    }
}
@media (max-width: 530px) {
    .edit_item {
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
    }
}
@media (max-width: 420px) {
	.build-count-size {
		width:100%;
	}
	.design-by {
		display: none;
	}
	.registration h2 {
		font-size: 26px!important;
	}
	.registration p {
		font-size: 18px!important;
	}
	.registration .btn {
		font-size: 18px!important;
	}
	.socket {
		width: 100%;
	}
	.build_detail .col-xs-6,
	.build_items > .col-xs-6 {
		width: 100%;
	}
	.build-edit-item {
		width: 100%;
	}
    .price_block {
        top:15px;
    }
    .build_item {
        max-width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 100%;
            -ms-flex: 1 100%;
                flex: 1 100%;
    }
}
