{% load i18n %}
<p>Добрый день.</p>
<p>Ваш запрос:</p>
<ul>
    <li>Телефон: {{ phone }}</li>
    {% if notes %}
    <li>Примечание: {{ notes }}</li>
    {% endif %}
</ul>
<p>Наш менеджер свяжется с вами по телефону {{ phone }}
{% if email %}
    или электронной почте {{ email }}
{% endif %}
 в ближайшее время.
</p>
<p>Спасибо за Ваше обращение.</p>